*{
    @include box-sizing(border-box);
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

.main-container{
    padding-top: 25px;
    padding-bottom: 25px;
}

.main-content{
    @include box-shadow(0 0 5px #999);
    background: #fff;
    padding: 20px 15px;
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal-dialog {
    z-index: 1050;
}

@media only screen and (min-width: $mobile-size) {
    .hidden-mobile {
        display: none !important;
    }
}