#header{

    .header-inner{
        @include legacy-pie-clearfix;

        @media only screen and (min-width: $mobile-size) {
            @include bgSpriteX(header-bg);
            height: 80px;
        }

    }



    .logo{
        margin: 15px 0 0 0;
        text-align: center;
        display: block;

        @media only screen and (min-width: $mobile-size) {
            float: left;
        }
    }
}

.header-account{
    margin: 9px 0 0 0;
    text-align: right;

    @media only screen and (min-width: $mobile-size) {
        float: right;
    }

    @media only screen and (max-width: $mobile-size) {
        .header-actions{
            white-space: nowrap;
        }
    }

    .header-user-info{
        display: inline-block;
        vertical-align: top;

        .header-welcome{
            color: #666;
            font-size: 12px;
            margin: 0 38px 0 0;
            padding: 1px 0 0 0;
            text-align: right;
            line-height: 14px;

            strong{
                display: block;
                color: #298bdf;
                font-size: 15px;
                font-weight: 700;
            }
        }

        .avatar{
            border: 1px solid #bbb;
            @include border-radius(3px);
            float: right;
            height: 32px;
            width: 32px;
        }
    }

    .account-menu{
        vertical-align: top;
        display: inline-block;
        margin: 1px 0 0 2px;

        li{
            float: left;

            .btn{
                margin-left: 14px;
            }
        }
    }

}

.header-search{
    clear: both;
    padding: 3px 0 0 0;

    @media only screen and (max-width: $mobile-size) {
        display: none;
    }
}

.header-search-box{
    background: #fff;
    border: 1px solid #dfdfdf;
    @include border-radius(3px);
    min-width: 300px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.header-search-box .header-search-field{
    width: 100%;
    background: none;
    border: 0;
    height: 26px;
    padding: 4px 118px 4px 8px;
}

.header-search-submit{
    display: block;
    text-align: center;
    border: 1px solid #5089d0;
    background: #5699ec;
    width: 29px;
    height: 28px;
    position: absolute;
    right: 0;
    top: -1px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.header-search-submit-icon{
    @include commonSprite(header-search);
    text-indent: -9999em;
    margin: 6px 0 3px 0;
}

.header-search-type{
    margin: 2px 0;
    border-left: 1px solid #dfdfdf;
    float: right;
    width: 85px;
    position: absolute;
    right: 27px;
    top: 0;
}

.header-search-type-field{
    height: 22px;
    border: 0;
    background: transparent;
    color: #2c80e8;
    font-size: 11px;
    padding-left: 5px;
    width: 112px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Arial',sans-serif;
}

.header-search-type-field:focus{
    box-shadow: none;
    outline: none;
}

.header-search-type-field option{
    padding: 1px 5px;
}

.header-search-type-inner{
    background: #fff url("../images/bg/dropdown-arrow.png") no-repeat 62px 50%;
}

#navbar{
    background-color: #2b82cd;

    @media only screen and (min-width: $mobile-size) {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;

        .navbar-wrapper {
            @include bgSpriteX(menu-bg);
            background-repeat: repeat;
            border-top: 1px solid #2a5c85;
            border-bottom: 1px solid #2a5c85;
        }
    }

    .menu {
        margin: 0;

        li {
            float: left;
            position: relative;

            &:before {
                @include commonSprite(menu-separator);
                content: '';
                position: absolute;
                left: 0;
                top: 0;
            }

            a {
                display: block;
                color: #fff;
                font-weight: 400;
                font-family: 'Open Sans', Arial, sans-serif;
                font-size: 13px;
                text-shadow: 0 1px 0 #20436b;

                @media only screen and (min-width: $mobile-size) {
                    padding: 0 20px;
                    line-height: 36px;
                    position: relative;
                    height: 37px;

                    &:hover {
                        text-decoration: none;
                        text-shadow: none;
                        @include box-shadow(0 0 10px #133d68 inset);
                        background: rgba(0, 0, 0, 0.1);
                        padding: 1px 20px;
                        margin: -1px 0;
                    }
                }

            }

        }
    }

    @media only screen and (max-width: $mobile-size) {
        display: none;

        .container{
            padding: 0;
        }

        .menu{
            li{
                display: block;
                float: none;
                text-align: center;

                a{
                    display: block;
                    font-size: 20px;
                    padding: 20px 0;
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
}

.account-menu{
    li{
        position: relative;
        display: block;

        &:hover{
            > .dropdown-menu{
                display: block;
            }
        }

    }

    .dashboard-dropdown-menu{
        margin: 0 0 0 -5px;

        &:before {
            display: block;
            width: 0;
            height: 0;
            margin: -5px 0 0 11px;
            border-color: transparent;
            border-bottom-color: #FFF;
            border-style: solid;
            border-width: 0 5px 5px 5px;
            content: "";
        }

    }



    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 9px;
        z-index: 1000;
        display: none;
        float: left;
        width: 160px;
        padding: 0;
        margin: 0;
        list-style: none;
        background-color: #FAFAFA;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        @include border-radius(6px);
        @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;

        li{
            float: none;
        }
    }

    .dropdown-menu.pull-right {
        right: 0;
        left: auto;
    }

    .dropdown-menu .divider {
        height: 1px;
        margin: 9px 1px;
        overflow: hidden;
        background-color: #e5e5e5;
        border-bottom: 1px solid #ffffff;
    }

    .dropdown-menu li{
        border-top: 1px solid #D7D7D7;
        float: none;
    }

    .dropdown-menu li.first {
        border: 0;
    }

    .dropdown-menu li > a {
        display: block;
        padding: 6px 20px;
        clear: both;
        font-weight: bold;
        line-height: 20px;
        color: #666;
        white-space: nowrap;
    }

    .dropdown-menu li > a:hover,
    .dropdown-menu li > a:focus,
    .dropdown-submenu:hover > a {
        color: #fff;
        text-decoration: none;
        background-color: #666;
    }

    .dropdown-menu li.first > a:hover,
    .dropdown-submenu.first:hover > a {
        @include border-radius(6px 6px 0 0);
    }

    .dropdown-menu li.last > a:hover,
    .dropdown-submenu.last:hover > a {
        @include border-radius(0 0 6px 6px);
    }

    .dropdown-menu .active > a,
    .dropdown-menu .active > a:hover {
        color: #fff;
        text-decoration: none;
        background-color: #0081c2;
        background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
        background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
        background-image: -o-linear-gradient(top, #0088cc, #0077b3);
        background-image: linear-gradient(to bottom, #0088cc, #0077b3);
        background-repeat: repeat-x;
        outline: 0;
    }

    .dropdown-menu .disabled > a,
    .dropdown-menu .disabled > a:hover {
        color: #999;
    }

    .dropdown-menu .disabled > a:hover {
        text-decoration: none;
        cursor: default;
        background-color: transparent;
        background-image: none;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }

    .open {
        *z-index: 1000;
    }

    .open > .dropdown-menu {
        display: block;
    }

    .pull-right > .dropdown-menu {
        right: 0;
        left: auto;
    }

    .dropup .caret,
    .navbar-fixed-bottom .dropdown .caret {
        border-top: 0;
        border-bottom: 4px solid #000000;
        content: "";
    }

    .dropup .dropdown-menu,
    .navbar-fixed-bottom .dropdown .dropdown-menu {
        top: auto;
        bottom: 100%;
        margin-bottom: 1px;
    }

    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: 6px;
        margin-left: -8px;
        -webkit-border-radius: 6px 6px 6px 6px;
        -moz-border-radius: 6px 6px 6px 6px;
        border-radius: 6px 6px 6px 6px;
    }

    .dropdown-submenu > .dropdown-menu li a {
        padding: 8px 10px;
        white-space: normal;
        line-height: 14px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropup .dropdown-submenu > .dropdown-menu {
        top: auto;
        bottom: 0;
        margin-top: 0;
        margin-bottom: -2px;
        -webkit-border-radius: 5px 5px 5px 0;
        -moz-border-radius: 5px 5px 5px 0;
        border-radius: 5px 5px 5px 0;
    }

    .dropdown-submenu > a:after {
        display: block;
        float: right;
        width: 0;
        height: 0;
        margin-top: 5px;
        margin-right: -10px;
        border-color: transparent;
        border-left-color: #cccccc;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        content: " ";
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #ffffff;
    }

    .dropdown-submenu .dropdown-submenu > a {
        padding: 8px 20px 8px 10px !important;
    }

    .dropdown-submenu .dropdown-submenu > a:after {
        margin-top: 2px;
    }

    .leftmenu {
    }
    .leftmenu .dropdown-submenu > a:after {
        display: none;
    }
    .leftmenu .dropdown-submenu > a:before {
        display: block;
        float: left;
        width: 0;
        height: 0;
        margin-top: 5px;
        margin-left: -10px;
        border-color: transparent;
        border-right-color: #cccccc;
        border-style: solid;
        border-width: 5px 5px 5px 0px;
        content: " ";
    }
    .leftmenu .dropdown-menu li > a {
        text-align: right;
    }
    .leftmenu .dropdown-submenu .dropdown-submenu > a {
        padding: 8px 10px 8px 20px !important
    }
    .leftmenu .dropdown-submenu > .dropdown-menu {
        left: -148px;
    }

}