//Sprite for all common elements
$common: sprite-map("common/*.png", $layout: smart);
$icons: sprite-map("icons/*.png", $layout: smart);
$bgX: sprite-map("bg/*.png", $icons-layout: vertical, $icons-foobar-repeat: repeat-x);
$dashboardIcons: sprite-map("dashboard-icons/*.png", $icons-layout: smart);

@mixin commonSprite($image-name) {
  display: inline-block;
  background-image: sprite-url($common);
  background-position: round(nth(sprite-position($common, $image-name), 1)) round(nth(sprite-position($common, $image-name), 2));
  height: image-height(sprite-file($common, $image-name));
  width: image-width(sprite-file($common, $image-name));
}

@mixin bgSpriteX($image-name) {
  background-image: sprite-url($bgX);
  background-position: round(nth(sprite-position($bgX, $image-name), 1)) round(nth(sprite-position($bgX, $image-name), 2));
}

@mixin iconsSprite($image-name) {
  display: inline-block;
  background-image: sprite-url($icons);
  background-position: round(nth(sprite-position($icons, $image-name), 1)) round(nth(sprite-position($icons, $image-name), 2));
  height: image-height(sprite-file($icons, $image-name));
  width: image-width(sprite-file($icons, $image-name));
}

@mixin btnIconsSprite($image-name) {
  &:after{
    background-image: sprite-url($icons);
    background-position: round(nth(sprite-position($icons, $image-name), 1)) round(nth(sprite-position($icons, $image-name), 2));
    height: image-height(sprite-file($icons, $image-name));
    width: image-width(sprite-file($icons, $image-name));
  }
}

@mixin dashboardIconsSprite($image-name) {
  background-image: sprite-url($dashboardIcons);
  background-position: round(nth(sprite-position($dashboardIcons, $image-name), 1)) round(nth(sprite-position($dashboardIcons, $image-name), 2));
}


/// Triangle helper mixin
/// @param {Direction} $direction - Triangle direction, either `top`, `right`, `bottom` or `left`
/// @param {Color} $color [currentcolor] - Triangle color
/// @param {Length} $size [1em] - Triangle size
@mixin triangle($direction, $color: currentcolor, $size: 1em) {
  @if not index(top right bottom left, $direction) {
    @error "Direction must be either `top`, `right`, `bottom` or `left`.";
  }

  width: 0;
  height: 0;
  content: '';
  z-index: 2;
  border-#{opposite-position($direction)}: ($size * 1.5) solid $color;

  $perpendicular-borders: $size solid transparent;

  @if $direction == top or $direction == bottom {
    border-left:   $perpendicular-borders;
    border-right:  $perpendicular-borders;
  } @else if $direction == right or $direction == left {
    border-bottom: $perpendicular-borders;
    border-top:    $perpendicular-borders;
  }
}