$font-family-sans-serif:  "Open Sans", Arial, sans-serif  !default;
$font-family-base:        $font-family-sans-serif !default;
$font-size-base:          12px !default;
$line-height-base:        1.166666667 !default; // 14/12
$text-color: #666;


$tooltip-bg: rgba(0,0,0,0.7) !default;

$modal-inner-padding:         20px !default;


$table-cell-padding: 8px 10px !default;