#footer{
  background: image-url('separate-bg/footer.png') repeat 0 0;
  border-top: 1px solid #D8D8D8;
  padding: 0 0 30px 0;
  text-align: center;


  .footer-block{
    border-top: 6px solid $text-color;
    padding: 17px 0 0 0;
    float: left;
    text-align: left;

    .footer-title{
      font-size: 16px;
      text-shadow: 0 1px 0 #fff;
      font-weight: 600;
      margin: 0 0 4px 0;
    }

    li{
      a{
        color: $text-color;
        font-size: 11px;
        position: relative;
        padding: 0 0 0 14px;
        display: block;
        line-height: 18px;

        @media (max-width: $screen-xs-min) {
          font-size: 14px;
          line-height: 1.5;
        }


        &:before{
          content: '';
          @include commonSprite(footer-links-arrow);
          position: absolute;
          left: 0;
          top: 50%;
          margin: -2px 0 0 0;
        }
      }
    }
  }

  .footer-company-info{
    width: 200px;
    float: left;

    @media (max-width: $screen-xs-min) {
      width: 100%;
      float: none;
    }

  }

  .footer-site-info{
    width: 155px;
    display: inline-block;
    float: none;
    text-align: left;

    @media (max-width: $screen-xs-min) {
      width: 100%;
      display: block;
    }

  }

  .footer-copyright{
    float: right;
    width: 44.5%;
    padding-top: 15px;

    @media (min-width: $screen-xs-max) {
      max-width: 445px;
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
      clear: both;
      margin: 25px 0 0 0;
      max-width: none;
    }

    .twitter-logo{
      @include commonSprite(twitter);
      float: right;
      text-indent: -99999px;
    }

    .copyright{
      font-weight: 600;
      margin: 0 0 10px 0;
    }

  }

}