.community-header{
  border-bottom: 1px solid #e1e1e1;
  @include box-shadow(0 0 50px #ededed inset);
  padding: 20px;
  margin-top: -20px;

  .community-logo{
    float: left;
    width: 86px;
    margin: 0 30px 0 0;

    img{
      width: 100%;
    }
  }

  .community-short-description{
    overflow: hidden;
    max-width: 740px;

    h3{
      margin: 0 0 8px 0;
      font-weight: 600;
      font-size: 18px;
      color: #666;
    }

    p{
      line-height: 16px;
    }
  }

  .community-membership-action{
    float: right;
    margin: 0 0 0 15px;
  }
}


.community-tabs{
  border: 1px solid #e1e1e1;
  padding: 10px;
  background: #f9f9f9;
  @include border-radius(6px);
  margin: 20px 0 0 0;

  .community-tab-content{
    padding: 20px 10px;
    border: 1px solid #e1e1e1;
    background: #fff;
    @include box-shadow(0 0 3px #ddd);
  }

  .community-test-suites{

    .test-suite-name{
      color: $app-blue;
      font-size: 15px;
      font-weight: 600;
      text-decoration: underline;

      &:hover{
        text-decoration: none;
      }
    }

    .test-suite-description{
      font-size: 12px;
      line-height: 16px;
      margin: 7px 0 0 0;
    }

    .td-actions{
      .btn{
        margin: 0 2px;
      }
    }

  }

  .filter-panel{
    float: right;
    width: 20%;

    @media only screen and (max-width: $mobile-size) {
      width: 100%;
    }

    .collapsible-panel{
      padding: 10px 0 0 0;
      margin: 0;
    }

    .filter-title{
      border-bottom: 1px solid #a0a0a0;
      color: #666;
      cursor: pointer;
      font-weight: 700;
      margin-bottom: 10px;
      padding: 0 0 5px 12px;
      position: relative;

      &:before{
        content: '';
        display: block;
        position: absolute;
        @include triangle(bottom,#666,3px);
        top: 3px;
        left: 0;
      }

      &.collapsed:before{
        @include triangle(right,#666,3px);
        left: 1px;
        top: 3px;
      }
    }

    .filter-body{
      ul{
        padding: 0 0 4px 0;
      }

      label{
        font-weight: normal;
        color: $app-blue;
        margin: 3px 0 0 0;

        input{
          margin: 0;
          top: 1px;
          position: relative;
        }
      }

    }

  }
}

.community-reports-list{
  tr{

    td{
      border-top: 0;
      border-bottom: 1px solid #ddd;
      vertical-align: middle;
    }

    td:first-child{
      font-weight: 600;
      font-size: 13px;
    }


  }
}

.community-articles{
  .table{
    th a{
      position: relative;
      display: inline-block;

      &.current-orderby{
        padding-right: 20px;

        &:hover{
          text-decoration: none;
        }

        &:before{
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          content: '';
        }

        &.asc:before{
          @include iconsSprite(sort-col-asc);
        }
        &.desc:before{
          @include iconsSprite(sort-col-desc);
        }
      }
    }
  }

  .attachment-cell{
    padding: 0 0 0 20px;
    position: relative;

    &.has-attachment:before{
      display: block;
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      @include iconsSprite(paperclip);
      margin-top: -(image-height('icons/paperclip.png')/2);
    }
  }

  .btn-icon{
    margin: 0 3px;
  }
}

.popup-terms-box{
  border-top: 1px solid #cfcfcf;
  padding: 10px 0 0 0;
  margin: 10px 0 0 0
}

.modal-terms-content{
  line-height: 16px;

  ol{
    margin: 10px 20px 0 20px;
  }

}

.community-search{
  margin-top: -20px;
  margin-bottom: 20px;
  padding: 20px 15px;
  border-bottom: 1px solid #e1e1e1;


  .search-form{
    position: relative;

    .search-form-input{
      border: 2px solid #d8d8d8;
      @include border-radius(8px);
      padding: 10px 35px 10px 10px;
      width: 100%;

      &:focus{
        @include box-shadow(0 0 10px -2px rgba(52, 119, 175, 0.75));
      }
    }
  }

  .search-result-count{
    color: #1f5aa4;
    font-size: 18px;
    line-height: 40px;
  }

  .submit-search-btn{
    background: none;
    width: 35px;
    height: 38px;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;

    .submit-search-btn-icon{
      @include iconsSprite(submit-search-btn);
      text-indent: -999999px;
    }

  }
}

.community-lists{
  .community-image{
    width: 70px;
  }

  .community-name{
    a{
      font-size: 15px;
      text-decoration: underline;
      font-weight: 600;
      color: #2c80e8;
      
      &:hover{
        text-decoration: none;
      }
      
    }

    p{
      margin: 10px 0 0 0;
    }
  }

  .community-action{
    .btn{
      min-width: 200px;
    }
  }
}

.community-admin{
  padding: 10px 15px;

  @media only screen and (max-width: $mobile-size) {
    padding: 10px 0;
  }


  .profile-type-list{
    width: 100%;

    > thead > tr {
      > th {
        text-align: center;

        &:first-child {
          text-align: left;
        }
      }
    }

    > tbody > tr{
      > td{
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;

        &:first-child{
          text-align: left;
        }
      }
    }

    .btn{
      margin: 0 2px;
    }
  }

  .add-profile-title{
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 10px 0;
  }

  .upload-file-field{
    display: inline-block;
    margin: 0 10px 0 0;
  }

  .privacy-options-list{
    margin: 0 0 0 17px;
  }

  .community-invitation-options{
    li{
      margin: 7px 0 0 0;

      &:first-child{
        margin-top: 0;
      }
    }
  }

  .members-management{


    .members-group-action{
      border: 1px solid #a9a9a9;
      @include border-radius(3px);

      ul{
        display: table;
        width: 100%;
        margin: 0;
      }

      li{
        display: table-cell;
        position: relative;
        overflow: hidden;
        text-align: center;

        @media only screen and (max-width: $mobile-size) {
          display: block;
        }

        &:before{
          content: '';
          @include iconsSprite(button-group-delimeter);
          position: absolute;
          left: 0;
          top: 0;

          @media only screen and (max-width: $mobile-size) {
            display: none;
          }

        }

        &:first-child:before{
          display: none;
        }

        a{
          display: block;
          font-size: 11px;
          color: #5f6670;
          padding: 5px 10px;
          text-shadow: 0 -1px 1px #fff;
          @include background-image(linear-gradient(top, #e9ebed, #d8d8d8));

          &:hover,
          &.selected{
            background: #127dbb;
            color: #fff;
            text-shadow: 0 -1px 1px #0d5783;
            text-decoration: none;
          }

        }

      }

    }

    .member-type-header{
      margin: 10px 0;
      font-weight: 700;
      line-height: 16px;
    }

    .member-list{
      li{
        margin: 0 0 7px 0;
        overflow: hidden;

        &.clearfix{
          margin: 0;
          overflow: visible;
        }

        label{
          float: left;
        }

        input{
          float: left;
          margin: 8px 0 0 0;
        }

        .avatar{
          width: 30px;
          height: 30px;
          margin: 0 0 0 5px;
          border: 1px solid #959595;
        }

        .member-info{
          overflow: hidden;
          margin: 0 0 0 55px;
          display: block;

          .member-name, .member-email{
            color: #127dbb;
            display: block;
            font-size: 12px;
            font-weight: 400;
            margin: 1px 0 0 0;
          }

          .member-email{
            font-size: 10px;
            margin-top: -4px;
          }

          .btn{
            margin-top: 4px;
          }
        }
      }
    }

  }

  .pending-requests{
    .member-list{
      width: 100%;

      li{
        padding: 12px 0;
        margin: 0 0 12px 0;
        border-bottom: 1px solid #959595;
        overflow: hidden;

        .avatar{
          float: left;
          margin: 0;
        }

        .member-info{
          overflow: hidden;
          margin: 0 0 0 40px;

          .member-activity{
            font-size: 10px;
            font-style: italic;
            margin-top: -1px;
          }
        }

        .action{
          float: right;
          margin: 4px 0 0 0;

          .btn{
            margin: 0 0 0 5px;

            &:first-child{
              margin-left: 0;
            }
          }
        }
      }
      
    }
  }

  .loaded-files{
    margin: 10px -20px -20px -20px;
    border-top: 2px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
    padding: 10px 20px;

    @media only screen and (max-width: $mobile-size) {
      margin: 10px -10px -20px -10px;
      padding: 10px -5px;
    }


    li{
      color: #127dbb;
      font-weight: 700;
    }
  }

  .community-image-management{
    .community-image{
      float: left;
      width: 100px;

      @media only screen and (max-width: $mobile-size) {
        float: none;
        text-align: center;
        width: 100%;
      }

      img{
        width: 100px;
        height: 100px;
        border: 1px solid #959595;
        @include box-shadow(0 0 10px 1px #999);
      }
    }

    .community-avatar-description{
      margin: 10px 0 0 0;

      @media only screen and (min-width: $mobile-size+1) {
        margin: 0 0 0 115px;
      }

      p{
        font-weight: 600;
        line-height: 16px;
        color: #666;
        font-size: 13px;
        margin: 0 0 12px 0;
      }

      .upload-file-field{
        margin: 0 0 10px 0;
        display: block;
      }
    }
  }

}

.create-community{
  h3{
    font-size: 18px;
    font-weight: 600;
  }

  .community-admin{
    padding: 15px 10px;

    @media only screen and (max-width: $mobile-size) {
      padding: 15px 0;
    }

  }
  
}