.user-info-page{
  .avatar{
    float: left;
    width: 150px;
    height: 150px;
  }

  .user-info-data{
    overflow: hidden;
    margin: 0 0 0 170px;
    font-weight: 600;

    h1{
      float: none;
      margin: 0 0 15px 0;
    }
  }
}