.transaction-list-actions.fixed{
  position: fixed;
  top: 5px;
  padding: 10px;
  border: 1px solid #1d76c0;
  border-left: 0;
  margin-left: 1px;
  z-index: 2;

  .pagination-box{
    display: none;
  }
}


.log-results-table-wrapper{
  border-bottom: 1px solid #1d76c0;

  table{
    margin: 0;
  }

  .block-loading-wrapper{
    min-height: 90px;
  }
}

.log-results-table{
  > tbody {
    > tr > td{
      background: #d9d9d9 image-url('separate-bg/table-tr-bg-even.png') repeat 0 0;
    }
    > tr:nth-child(4n-1) > td,
    > tr:nth-child(4n+4) > td{
      background: #eee image-url('separate-bg/table-tr-bg-odd.png') repeat 0 0;
    }
    > tr > td:last-child{
      border-right: 1px solid #1d76c0;
    }
  }

  .product-name{
    .product-collapse-link{
      float: left;
    }
    .product-name-link{
      display: block;
      overflow: hidden;
      margin: 0 0 0 15px;
    }
  }
}

.log-results-sub-table{

  > thead > tr > th {
    padding: 5px;
  }


  > tbody > tr{
    > td {
      text-align: center;
      padding: 5px;
      background: #d9d9d9 image-url('separate-bg/table-tr-bg-even.png') repeat 0 0;
      vertical-align: middle;
    }

    &:nth-child(2n+1) > td{
      background: #eee image-url('separate-bg/table-tr-bg-odd.png') repeat 0 0;
    }
  }

}

.details_row{

  .block-loading-wrapper{
    min-height: 90px;
  }

}