.modal-backdrop.in {
  opacity: 0.7;
}

.modal-content {
  background: transparent;
}

.modal-header {
  font-size: 18px;
  font-weight: 700;
  border: 0;
  @include border-radius($border-radius-large $border-radius-large 0 0);
  color: #fff;
  background: #2f80c5;
  @include background-image(linear-gradient(top, #268fe8, #3576ad));
  @include text-shadow(0 -1px 1px rgba(0, 0, 0, 0.75));
  height: 45px;
  line-height: 45px;
  padding: 0 20px;

  .close-modal {
    position: absolute;
    right: 16px;
    top: 11px;
    background-color: transparent;
    @include iconsSprite(close-modal);
    text-indent: -999999px;
    border: 0;
  }
}

.modal-body {
  background: #fff;
  @include box-shadow(0 3px 5px -1px #d3d3d3 inset);

  .block-loading {
    padding-top: 25px;
    display: block;
    position: relative;
    background: none;

    .loading-content {
      position: relative;
      margin: 0;
    }
  }

}

.modal-footer {
  text-align: left;
  background: #f0f0f0;
  padding: 15px;
  @include box-shadow(0 13px 7px -12px #cbcbcb inset);
  @include border-radius(0 0 $border-radius-large $border-radius-large);
  border: 0;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 500px;

  @media only screen and (max-width: $mobile-size) {
    width: auto;
  }

}

.profile-modal {
  .modal-dialog {
    width: auto;
    max-width: 90%;
    min-width: 500px;

    @media screen and (max-width: 768px) {
      min-width: 1px;
    }
  }
}