.table{
    > thead{
        > tr{
            > th{
                text-align: center;
                font-size: 13px;
                font-weight: 600;
                border-bottom: 1px solid $table-border-color;
                vertical-align: middle;

                &.text-left{
                    text-align: left;
                }
            }
        }
    }

    > tbody,
    > tfoot {
        > tr {
            > td.empty-row {
                vertical-align: middle;
                text-align: center;
                border-bottom: 1px solid $table-border-color;
            }

            &.removing{
                background: #fb6c6c;
            }
        }
    }
}

.colored-table{
    border-collapse: inherit;

    > thead{
        >tr{

            > th{
                color: #ececec;
                font-size: 13px;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
                @include box-shadow(0 1px 2px 0px rgba(255,255,255,0.4) inset);
                background: #de6262 image-url('separate-bg/table-header.png') repeat-x 0 0;
                border: 1px solid #e33f3f;
                border-left: 0;
                border-top: solid 1px #b56a79;
                line-height: 14px;
                padding: 8px 10px;

                &:first-child{
                    border-left: 1px solid #e33f3f;
                }

                &.text-left{
                    text-align: left;
                }
            }

        }
    }

    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
        > tr:first-child {
            > th{
                border-top: solid 1px #b56a79;
            }
        }
    }

    > tbody{
        border-right: 1px solid #ccc;

        > tr{
            background: #eee image-url('separate-bg/table-tr-bg-odd.png') repeat 0 0;

            > td{
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-top: 1px solid #f5f5f5;
                color: #3c3f43;
                padding: 8px 10px;
                font-size: 11px;
                font-weight: 600;
                text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);

                &:first-child{
                    border-left: 1px solid #ccc;
                }

                a{
                    text-decoration: underline;

                    &:hover{
                        text-decoration: none;
                    }
                }
            }

        }

        > tr:nth-child(2n+1){
            background: #d9d9d9 image-url('separate-bg/table-tr-bg-even.png') repeat 0 0;
        }
    }
}