/** Test Suite Status BTN **/
.white_grey_btn{
    padding: 0 5px;
    font-family: 'Open Sans', Arial;
    color: #959595 !important;
    font-size: 10px;
    border-style: solid;
    border-width: 1px;
    text-decoration: none !important;
    height: 20px;
    text-align: center;
    line-height: 19px;
    display: inline-block;
    margin: 0 auto;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.23) inset;
    border-color: #e1e1e1;    
    background: #f6f7f6;    
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#f3f3f3));
    background: -webkit-linear-gradient(top, #fefefe, #f3f3f3);
    background: -moz-linear-gradient(top, #fefefe, #f3f3f3);
    background: -ms-linear-gradient(top, #fefefe, #f3f3f3);
    background: -o-linear-gradient(top, #fefefe, #f3f3f3);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-8 */
}
.white_grey_btn:hover{
    background: #fcfcfc;
}
.view_products_btn{
    position: relative;
    padding-left: 20px;
}
.view_products_btn b{
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 7px;
    background: url(../images/view-btn-bg.png) no-repeat;
    top: 7px;
    left: 6px;
}
.status_btn{
    padding: 0;
    font-family: 'Open Sans', Arial;
    color: #fff !important;
    border-style: solid;
    border-width: 1px;
    min-width: 66px;
    height: 20px;
    text-align: center;
    line-height: 19px;
    display: inline-block;
    margin: 0 auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.23) inset;
    font-size: 11px;
    font-weight: normal !important;
    padding: 0 5px;
}
.status_txt{
    background: transparent !important;
    font-size: 12px !important;
}
.status_active{
    border-color: #47a518;    
    background: #48a719;    
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#55c21f), to(#47a518));
    background: -webkit-linear-gradient(top, #55c21f, #47a518);
    background: -moz-linear-gradient(top, #55c21f, #47a518);
    background: -ms-linear-gradient(top, #55c21f, #47a518);
    background: -o-linear-gradient(top, #55c21f, #47a518);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55c21f', endColorstr='#47a518',GradientType=0 ); /* IE6-8 */
}
.status_build{
    border-color: #6527a4;    
    background: #7536b5;    
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8950c2), to(#6122a1));
    background: -webkit-linear-gradient(top, #8950c2, #6122a1);
    background: -moz-linear-gradient(top, #8950c2, #6122a1);
    background: -ms-linear-gradient(top, #8950c2, #6122a1);
    background: -o-linear-gradient(top, #8950c2, #6122a1);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8950c2', endColorstr='#6122a1',GradientType=0 ); 
}
.status_draft{
    border-color: #a0a0a0;    
    background: #8f8f8f;    
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ababab), to(#7b7b7b));
    background: -webkit-linear-gradient(top, #ababab, #7b7b7b);
    background: -moz-linear-gradient(top, #ababab, #7b7b7b);
    background: -ms-linear-gradient(top, #ababab, #7b7b7b);
    background: -o-linear-gradient(top, #ababab, #7b7b7b);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ababab', endColorstr='#7b7b7b',GradientType=0 ); 
}

.status_suspended,
.status_inarrears,
.status_deprecated{
    border-color: #e96208;    
    background: #f36f16;    
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fb7821), to(#e96208));
    background: -webkit-linear-gradient(top, #fb7821, #e96208);
    background: -moz-linear-gradient(top, #fb7821, #e96208);
    background: -ms-linear-gradient(top, #fb7821, #e96208);
    background: -o-linear-gradient(top, #fb7821, #e96208);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb7821', endColorstr='#e96208',GradientType=0 ); 
}

.status_obsolete{
    border-color: #9d1d1c;    
    background: #b92621;    
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c32d27), to(#991817));
    background: -webkit-linear-gradient(top, #c32d27, #991817);
    background: -moz-linear-gradient(top, #c32d27, #991817);
    background: -ms-linear-gradient(top, #c32d27, #991817);
    background: -o-linear-gradient(top, #c32d27, #991817);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c32d27', endColorstr='#991817',GradientType=0 ); 
}
.status_partial{
    border-color: #3c7db3;    
    background: #2c85d0;    
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#469ce6), to(#3577ae));
    background: -webkit-linear-gradient(top, #469ce6, #3577ae);
    background: -moz-linear-gradient(top, #469ce6, #3577ae);
    background: -ms-linear-gradient(top, #469ce6, #3577ae);
    background: -o-linear-gradient(top, #469ce6, #3577ae);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#469ce6', endColorstr='#3577ae',GradientType=0 ); 
}

.status_frozen{
    border-color: #c51e1e;    
    background: #dc1515;    
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f20c0c), to(#c51e1e));
    background: -webkit-linear-gradient(top, #f20c0c, #c51e1e);
    background: -moz-linear-gradient(top, #f20c0c, #c51e1e);
    background: -ms-linear-gradient(top, #f20c0c, #c51e1e);
    background: -o-linear-gradient(top, #f20c0c, #c51e1e);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f20c0c', endColorstr='#c51e1e',GradientType=0 ); 
}

.status_unsubscribing{
    border-color: #9f9f9f;
    background: #8a8a8a;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5a5a5), to(#7a7979));
    background: -webkit-linear-gradient(top, #a5a5a5, #7a7979);
    background: -moz-linear-gradient(top, #a5a5a5, #7a7979);
    background: -ms-linear-gradient(top, #a5a5a5, #7a7979);
    background: -o-linear-gradient(top, #a5a5a5, #7a7979);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a5a5', endColorstr='#7a7979',GradientType=0 ); 
    box-shadow: 0 1px 0 0 #b8b8b8 inset;
    -moz-box-shadow: 0 1px 0 0 #b8b8b8 inset;
    -webkit-box-shadow: 0 1px 0 0 #b8b8b8 inset;
}


.status_circle{
    font-size: 9px !important;
    height: 13px !important;
    line-height: 13px !important;
    width: 13px !important;
    min-width: 13px !important;
    padding: 0;
    border-radius: 7px;
}

.page-title-block{
    box-shadow: 0 0 50px #EDEDED inset;
    -moz-box-shadow: 0 0 50px #EDEDED inset;
    -webkit-box-shadow: 0 0 50px #EDEDED inset;
    -o-box-shadow: 0 0 50px #EDEDED inset;
    border-bottom: 1px solid #E1E1E1;
}

.page-title-avatar{
    width: 86px;
    height: 86px;
    float: left;
    margin-right: 30PX;
}
.page-title-content{
    float: left;
    width: 640px;
}
.page-title-avatar img{
    width:86px;
    height:86px;
    box-shadow: 0 0 2px #999;
}
.page-title-block .page-title-buttons a{
    float: right;
    margin: 20px 20px 0 0;
    white-space: nowrap;
}

.item-list-tabs ul.tabs li a{
    margin: 0;
}
#item-actions{
    margin: 0;
}

#item-body{    
    margin: 0;
    padding: 0;
    color: #666 !important;
}
.item-avatar img{
    border:1px solid #c5c5c5;
}
.container p{
    margin-bottom: 12px;
    line-height: 16px;        
}

.grid_cell h5{
    margin-bottom: 5px;
}

.community-registration-box{
    width: 305px;
}
.community-terms-box,
.community-license-box{
    width: 500px;
}

/*** Forums ***/
.tabs_wrap #bbpress-forums > h3{
    display: none;
}


/** Downloads **/
#add-new-download{
    width: 180px;
    margin: 0 auto;
}
#new-downloads,
.grid-file-edit-row{
    background: #f8f8f8;
    padding: 0;
}
#new-downloads h3,
.grid-file-edit-row h3{
    padding:15px 0 0 10px;
}
#new-downloads .grid-list-row,
.grid-file-edit-row .grid-list-row{
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
#new-downloads .grid-field-cell label,
.grid-file-edit-row .grid-field-cell label{
    float: left;
    width: 160px;
    padding-right: 20px;
    color: #2a2a2a;
    text-align: right;
}
#new-downloads .grid-field-cell input,
#new-downloads .grid-field-cell textarea,
.grid-file-edit-row .grid-field-cell input,
.grid-file-edit-row .grid-field-cell textarea{
    float: right;
    width: 325px;
    margin-bottom: 12px;
}
#new-downloads .grid-field-cell,
.grid-file-edit-row .grid-field-cell{
    float: right;
    padding-right: 20px;
}
#new-downloads .grid-list-footer,
.grid-file-edit-row .grid-list-footer{
    padding: 6px 12px;
    background: #e8e8e8;
    
}
#new-downloads .grid-list-footer .action-btn,
.grid-file-edit-row .grid-list-footer .action-btn{
    float: right;
    margin-left: 10px;
}
#new-downloads .grid-list-row .delete-btn,
.grid-file-edit-row .grid-list-row .delete-btn{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
#add-more-file{
    float: left;
    margin-top: 4px;
}
#save-download{
}
#uploaded-files .grid-list-row{
    position: relative;
}
#uploaded-files .license-link{
    display: block;
    position: relative;
    text-align: left;
    background: url(../images/icon-sprites.png) no-repeat 0 -437px;
    padding-left: 20px;
    line-height: 12px;
    margin-left: 32px;
}
#uploaded-files .has-license{
    background-position: 0 -386px;
    
}
#uploaded-files .license-link:hover .simple_tooltip {
    display: block;
    font-weight: normal !important;
    top: -57px;
    width: 155px;
    left: -15px;
}

.popup-box .loading,
#uploaded-files .grid-list-row .loading{
    background: url(../images/loader1.gif) no-repeat center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#uploaded-files .grid-list-row .delete-btn{
    margin-left: 10px;
}
#uploaded-files .grid-list-row .action-btn{
    position: relative;
}
#uploaded-files .grid-list-row .action-btn .simple_tooltip{
    top: -38px;
    left: 38px;
    width: 34px;
}
#uploaded-files .grid-list-row .action-btn:hover .simple_tooltip{
    display: block;
}
/*.grid-file-edit-row{
    background: #f8f8f8;
    padding: 10px 0 0;
}
.grid-file-edit-row .grid-list-cell{
    
 }
.grid-file-edit-row .text{    
    float: left;
    width: 350px;
}
.grid-file-edit-row .textarea{    
    width: 805px;
    float: left;
}

.grid-file-edit-row label{
    width: 75px;
    padding-right: 8px;
    color: #2a2a2a;
    font-size: 12px;
    text-align: right;
    float: left;
    font-weight: 600;
    line-height: 19px;
}
.grid-file-edit-row .grid-btn-cell{
    background: #e8e8e8;
    padding: 6px 0;
    width: 100%;
    border-top: solid 1px #D8D8D8;
}
.grid-file-edit-row .grid-btn-cell a.action-btn{
    float: right;
    margin-right: 10px;
}*/
#agree-file-license{
    width: 500px;
}

/*** Doc & Wiki Page ***/

body .doc-attachments h3{
    margin-bottom: 10px;
}
body #doc-attachments-ul{
    margin-top: 5px;
    border: solid 1px #cbcbcb;
    border-bottom: none 0;
}
body #doc-attachments-ul li{
    height: 24px;
    line-height: 24px;
    margin: 0 !important;
    border: none important;
}
#docs-filter-sections .docs-filter-section input[type="submit"],
#docs-filter-sections .docs-filter-section input[type="button"],
body .button-secondary{
    border-style: solid;
    border-width: 1px;
    color: #fff !important;
    font-family: 'Open Sans', Arial;
    font-size: 12px;    
    display: inline-block;
    height: 25px;
    line-height: 22px;
    padding: 0 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-decoration: none !important;
/*    float: left;*/
    border-color: #369817;
    background: #39a517;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3eb618), to(#369817));
    background: -webkit-linear-gradient(top, #3eb618, #369817);
    background: -moz-linear-gradient(top, #3eb618, #369817);
    background: -ms-linear-gradient(top, #3eb618, #369817);
    background: -o-linear-gradient(top, #3eb618, #369817);
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#268fe8', endColorstr='#369817',GradientType=0 );     */
    box-shadow: 0 1px 0 0 #95d780 inset;
    -moz-box-shadow: 0 1px 0 0 #95d780 inset;
    -webkit-box-shadow: 0 1px 0 0 #95d780 inset;
    font-weight: 600;
}
body .button-secondary:hover{
    background: #3eb518;
}
table .alignleft,
table .alignright{
    margin: 0;
}
#doc-content-permalink label{
    float: left;
    line-height: 25px;
    margin-right: 5px;
}
#doc-content-permalink code{
    float: left;
    line-height: 25px;
}
#doc-content-permalink input{
    float: left;
}
body #doc-content-textarea{
    margin-bottom: 0;
}
body .grid-box-body #doc-attachments-ul{
    border-bottom: solid 1px #cbcbcb;
}
.grid-box-body #tax-input-bp_docs_tag{
    width: 96%;
}
#doc-list .attachment-cell{
    width: 20px;
}
#doc-list .title-cell{
    width: 380px;
}
#doc-list .author-cell{
    width: 150px;
    text-align: center;
}
#doc-list .created-date-cell,
#doc-list .edited-date-cell{
    width: 130px;
    text-align: center;
}
#doc-list #bp-docs-pagination{
    
}
#doc-list div#bp-docs-pagination-count{
    font-size: 13px;
    top: 0;
    left: 10px;
}
body div.docs-info-header{
    background: #fff;
}
div.docs-info-header p.currently-viewing{
    font-size: 11px;
    color: #666;
    margin-top: 0;
}
.docs-filters{
    padding: 3px 0;
}
.docs-filters #docs-filter-meta{
    font-size: 12px;
}
#docs-filter-sections .docs-filter-section{
    border: solid 1px #cbcbcb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;    
    margin-top: 3px;
    font-size: 12px;
}
.quick_actions {
    border:solid 1px #3577ad;
    background: #2d83cd;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2690ea), to(#3577ad));
    background: -webkit-linear-gradient(top, #2690ea, #3577ad);
    background: -moz-linear-gradient(top, #2690ea, #3577ad);
    background: -ms-linear-gradient(top, #2690ea, #3577ad);
    background: -o-linear-gradient(top, #2690ea, #3577ad);
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c2c2', endColorstr='#9f9f9f',GradientType=0 );     */
    box-shadow: 0 1px 0 0 #7cbcf4 inset;
    -moz-box-shadow: 0 1px 0 0 #7cbcf4 inset;
    -webkit-box-shadow: 0 1px 0 0 #7cbcf4 inset;
}
.quick_actions li:first-child {
    background-image: none;
}

.quick_actions li {
    float: left;
    padding: 4px 7px;
    background: url(../images/wiki-tab-seperator.png) left center no-repeat;
    position: relative;
}

.quick_actions li a {
    display: block;
    height: 18px;
    width: 12px;
    background: url(../images/wiki-icons.png) no-repeat;
}
.quick_actions li a.read-wiki {
    background-position: 0 -46px;
}
.quick_actions li a.edit-wiki {
    background-position: 1px 3px;
}
.quick_actions li a.history-wiki {
    background-position: 1px -107px;
}

.quick_actions li:hover{
    background: #288ce2;
}
.quick_actions li:hover .simple_tooltip {
    display: block;
    left: 11px;
    top: -32px;
}


/*** Create Group Section ***/

.system-section .item-list-tabs li {
    float: left;
    border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    background: #ffffff; 
    background: -moz-linear-gradient(top,  #ffffff 2%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 2%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 2%,#eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 2%,#eaeaea 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 2%,#eaeaea 100%); /* W3C */
    margin: 0 10px 0 0;
    box-shadow: 0 0 20px -10px #fff inset;
    border: 1px solid #e1e1e1;
    margin-top: 4px;
    position: relative;
}
.system-section .item-list-tabs li.loading{
    display: block !important;
    width: auto;
    position: relative;
} 
.system-section .item-list-tabs li.loading div.loading{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.system-section .item-list-tabs li:hover {
    background: #fff;
}

.system-section .item-list-tabs li.current {
    background: #2d85cf;
    box-shadow: 0 0 30px -7px #002747 inset;
    -moz-box-shadow: 0 0 30px -7px #002747 inset;
    -webkit-box-shadow: 0 0 30px -7px #002747 inset;
    -o-box-shadow: 0 0 30px -7px #002747 inset;
    padding: 2px;
    border: 1px solid #3577ad;
    margin-top: 0px;
}

.system-section .item-list-tabs li a,
.system-section .item-list-tabs li span{
    padding: 5px;
    display: block;
    font-family: 'Oswald', Arial, Helvetica sans-serif;
    color: #666;
    text-shadow: 0 1px 0 #fff;
    -moz-text-shadow: 0 1px 0 #fff;
    -webkit-text-shadow: 0 1px 0 #fff;
    -o-text-shadow: 0 1px 0 #fff;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    padding: 5px 15px;
}
.system-section .item-list-tabs a span{
    display: inline;
    font-size: 14px;
    padding: 0;
    margin-left: 5px;
}

.system-section .item-list-tabs li.current a,
.system-section .item-list-tabs li.current span{
    color: #fff;
    text-shadow: 0 1px 0 #002747;
    -moz-text-shadow: 0 1px 0 #002747;
    -webkit-text-shadow: 0 1px 0 #002747;
    -o-text-shadow: 0 1px 0 #002747;
}
.system-section .item-order-tabs{
    float: right;
    margin-top: 8px;
}
.system-section .pagination{
    background: none;
    border: none;
}
.system-section ul.item-list {
    width: 100%;
}
.system-section ul.item-list li {
    border-bottom: 1px solid #eaeaea;
    padding: 15px 0;
    position: relative;
}

.system-section ul.item-list.activity-list li {
    padding-bottom: 0;
}
ul.single-line li {
    border: none;
}
.system-section ul.item-list li img.avatar {
    float: left;
    margin: 0 10px 0 0;
}
.system-section ul.item-list li div.item-title,
.system-section ul.item-list li h4 {
    font-weight: normal;
    font-size: 14px;
    margin: 0;
    width: 75%;
}
.system-section ul.item-list li div.item-title span {
    color: #999;
    font-size: 12px;
}
.system-section ul.item-list li div.item-desc {
    color: #888;
    font-size: 11px;
    margin: 10px 0 0 64px;
    width: 50%;
}
.system-section ul.item-list li div.action {
    position: absolute;
    top: 15px;
    right: 0;
    text-align: right;
}
.system-section ul.item-list li div.meta {
    color: #888;
    font-size: 11px;
    margin-top: 10px;
}
.system-section ul.item-list li h5 span.small {
    float: right;
    font-size: 11px;
    font-weight: normal;
}
.system-section ul.item-list li a.button{
    font-size: 12px;
    padding: 5px 5px;
    font-weight: 600;
}
#group-create-body h4{
    margin: 0;
    padding: 0 0 5px;
}

#group_details_box .grid-box-body .field-row .textarea{
    width: 100%;
}


body div.bbp-template-notice.error{    
    padding: 11px 20px 11px 45px;    
    border-style: solid;
    border-width: 1px;
    font-family: 'Open Sans', 'Arial'; 
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);    
    margin-top: 8px;
    /*background: #f7941d url(../images/notice-icon.png) 8px 7px no-repeat;
    border-color: #e38413;*/
    background: #e52727 url(../images/error-icon.png) 8px 7px no-repeat;
    border-color: #b61313;
    
}

body div.bbp-template-notice.error p{
    margin: 0 !important;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    color: #fff;
}

/*** 
* Widen the test suite page
*/
.single-test-suite #container .content{
    width: 1200px;
}

#groups-dir-list .group-button .request-membership{
    color: #fff;
    background: #aa221e;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cc2e27), to(#981716));
    background: -webkit-linear-gradient(top, #cc2e27, #981716);
    background: -moz-linear-gradient(top, #cc2e27, #981716);
    background: -ms-linear-gradient(top, #cc2e27, #981716);
    background: -o-linear-gradient(top, #cc2e27, #981716);
    padding: 10px 18px;
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none !important;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -o-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    width: auto !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    display: inline-block;
    border: 1px solid #cbcbcb;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(255, 255, 255, .5) inset;
    -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, .5) inset;
    -o-box-shadow: 0 1px 1px rgba(255, 255, 255, .5) inset;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    float: right;
}