/*************** BGINE CSS AID ******************/
/*************** BROWSER RESET ******************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0;  vertical-align: baseline; background: transparent;}
ul { list-style: none; list-style-position: inside !important; }
b, strong {font-weight: bold;}
i, em {font-style: italic;}
blockquote, q { quotes: none; }
hr {border: 0; height: 10px; margin: 0 0 30px 0; background: url(http://nego-solutions.com/assets/images/white_line.png) left top repeat-x;}
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! padding: 9px 17px 9px 17px; */
ins { text-decoration: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; }
*, * focus {
	outline: none;
	margin: 0;
	padding: 0;
}
textarea { overflow: auto; resize: vertical; }
textarea, input[type=text], input[type=password], input { font-size: 13px; color: #6e747c; padding: 4px 8px;}
textarea:focus, input[type=text]:focus, input[type=password]:focus {
    box-shadow: 0 0 10px -2px rgba(52, 119, 175, 0.75);
}
::selection { background: #C9D7DF; color: #2A5B79; }



/*************** STRUCTURAL ELEMENTS ******************/

html, body {
	height: 100%;
	width: 100%;
}

body { 
	margin: 0;
	padding: 0;
	font-family: 'Open Sans',Arial,Tahoma,Helevetica,sans-serif;
	font-size: 12px;
	line-height: 14px; 
	text-shadow: black 0px 1px 0px;
	-moz-text-shadow: black 0px 1px 0px;
	-webkit-text-shadow: black 0px 1px 0px;
	color: #666666;
}


/**************** TYPOGRAPHY ************************/

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 8px 0;
	font-weight: bold;
	text-shadow: 3px 3px 0 black, 3px 3px 1px #98A7AD;
	-moz-text-shadow: 3px 3px 0 #000, 3px 3px 1px #98A7AD;
	-webkit-text-shadow: 3px 3px 0 #000, 3px 3px 1px #98A7AD;
}

h1 {
	font-size: 2.5em;
	line-height: 35px;
}

h2 {
	font-size: 2.3em;
	line-height: 20px;
}

h3 {
	font-size: 2em;
	line-height: 17px;
}

h4 {
	font-size: 1.7em;
	line-height: 15px;
}

h5 {
	font-size: 1.3em;
	line-height: 12px;
}

h6 {
	font-size: 1em;
	line-height: 12px;
}

.lineheight22px{
	line-height:22px !important;
}

blockquote {
	font-family: "Times New Roman",Georgia,Serif;
	font-style: italic;
	font-size: 1.1em;
	line-height: 20px;
	margin-bottom: 30px;
	font-weight: normal;
	color: #dcdcdc;
}



p { 
	color: #666666;
	margin: 0 0 10px 0;
}

ul.general_li, ol.general_li {
	margin: 0 0 30px 20px;
}

	ul.general_li {
		list-style: circle;
		color: #dcdcdc;
	}

	ol.general_li {
		list-style: decimal;
		color: #dcdcdc;
	}

pre {
	font-size: 1.2em;
	margin: 0 0 30px 0;
	word-wrap: break-word;
}

/* ************** Weights ************** */

.normal {
	font-weight: normal !important;
}

.bold {
	font-weight: bold !important;
}

.underline {
	text-decoration: underline !important;
}

/*************** LINKS ****************************/

a:link, a:visited {
	color: #2c80e8;
	text-decoration: none;
	
}

a:hover, a:active {
	color: #2C6DBD;
	text-shadow: #00E5FF 0px 0px 7px;
}


/*************** BUTTONS & FORMS ****************************/

form {

}


input[type="text"], input[type="password"], input[type="email"],
input[type="tel"], input[type="color"], input[type="date"],
input[type="datetime"], input[type="datetime-local"],
input[type="month"], input[type="number"], input[type="range"],
input[type="search"], input[type="time"], input[type="url"], input[type="week"],
input[type="submit"], input[type="reset"], input[type="button"], textarea, .button, .input {
	display: inline-block;
    border: 1px solid #cbcbcb;
	border: 1px solid rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(255, 255, 255, .5) inset;
    -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, .5) inset;
    -o-box-shadow: 0 1px 1px rgba(255, 255, 255, .5) inset;
    box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
    padding: 4px 8px;
    border-radius: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 3px;
}
	
input[type="search_button"], input[type="submit"], input[type="reset"], input[type="button"], .button {
	cursor: pointer;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -o-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    width: auto !important;
    box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
}

input[type="search_button"], input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:hover {
	background-image: url(../images/white_gloss.png);
	text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-o-text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

select{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: solid 1px #cbcbcb;
}
input.input-error{
    border: 1px solid #B61313;
    box-shadow: 0 0 3px rgba(255, 0, 0, .5);
    -moz-box-shadow: 0 0 3px rgba(255, 0, 0, .5);
    -webkit-box-shadow: 0 0 3px rgba(255, 0, 0, .5);
    -o-box-shadow: 0 0 3px rgba(255, 0, 0, .5);
}
.button {
	text-decoration: none !important;
}

.nodecoration{
	text-decoration: none !important;
}

.button_small {
	padding: 4px 10px;
	display: block;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	-moz-text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	-webkit-text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	-o-text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

.button_small span.sign {
	font-weight: bold;
	border-right: 1px solid rgba(255,255,255,0.2);
	float: left;
	width: 20px;
	margin-left: -10px;
}

.button_medium {
	padding: 12px 18px;
	display: block;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.button_red{
    color: #fff;
    background: #aa221e;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cc2e27), to(#981716));
    background: -webkit-linear-gradient(top, #cc2e27, #981716);
    background: -moz-linear-gradient(top, #cc2e27, #981716);
    background: -ms-linear-gradient(top, #cc2e27, #981716);
    background: -o-linear-gradient(top, #cc2e27, #981716);
}
.button_red:hover{
    background-color: #cc2e26;   
}
textarea {
	min-height: 130px;
}

/* RADIOS & CHECKBOXES*/

.styled_radios, .styled_checkboxes {

}

.styled_radios {
}

.styled_checkboxes {
}

.styled_radios li, .styled_checkboxes li {
	float:left;
	width: auto;
	display: block;
	position: relative;
	padding: 0 10px 0 20px;
}
	
.styled_radios span, .styled_checkboxes span {
	position: absolute;
	left: 0;
	width: 4px;
	height: 4px;
	line-height: 4px;
	padding: 3px;
	text-align: center;
	background-color: #000;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(255, 255, 255, .5) inset, 0 1px 1px #2F3E45;
    -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, .5) inset, 0 1px 1px #2F3E45;
    -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, .5) inset, 0 1px 1px #2F3E45;
    -o-box-shadow: 0 1px 1px rgba(255, 255, 255, .5) inset, 0 1px 1px #2F3E45;
	background-image: url(../images/black_gloss.png);
	background-position: left bottom;
	background-repeat: repeat-x;
}
 
.styled_radios span:after, .styled_checkboxes span:after {
	content: ""; /*if CSS are disbled span elements are not displayed*/
}
 
.styled_radios input, .styled_checkboxes input {
	position: absolute;
	left: 0;
	margin: 0;
	width: 14px;
	height: 14px;
	/*hide the radio button*/
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
    cursor: pointer;
    z-index:1;
}
 
.styled_radios input[type="radio"] + span, .styled_checkboxes input[type="checkbox"] + span { /*the span element that immediately follow the radio button */
	visibility: hidden; /*temporarily hide the "YES" label*/
	background-color: #4cd7e8;
}
 
.styled_radios input[type="radio"] + span:after {
	content: ""; /*if CSS are disbled span elements are not displayed*/
}
 
.styled_checkboxes input[type="checkbox"] + span:after {
	content: ""; /*if CSS are disbled span elements are not displayed*/
}

.styled_radios input[type="radio"]:checked + span, .styled_checkboxes input[type="checkbox"]:checked + span { 
	background-position: center;
	background-repeat:no-repeat;
}

.styled_radios input[type="radio"]:checked + span {
	visibility: visible; /*show the "YES" label only if the radio button is checked*/
	background-image: url(../images/radio_button_checked.png);
}

.styled_checkboxes input[type="checkbox"]:checked + span {
	visibility: visible; /*show the "YES" label only if the radio button is checked*/
	background-image: url(../images/check_button_checked.png);
}
	
.styled_checkboxes span {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-o-border-radius: 0px;
}

.close_this {
	display: none;
	background: url(../images/close_this_icon.png) right top no-repeat;
	width: 10px;
	height: 10px;
	position: absolute;
	right: -5px;
	top: -5px;
	cursor: pointer;
}

/*************** COLORS ****************************/

/*TEXTS*/

.dark_blue_txt {
	color: #316c9c !important;
}
.blue_txt {
	color: #2c80e8 !important;
}



.red_txt {
	color: #d9231f !important;
}

.gray_txt {
	color: #dcdcdc !important;
}

.dark_gray_txt {
	color: #666666 !important;
}

.white_txt {
	color: #fff !important;
}

.black_txt {
	color: #000 !important;
}

.orange_txt {
	color: #f8a73d !important;
}

.green_txt {
	color: #47a518 !important;
}

/* BACKGROUNDS */
.blue_bcg {
	background-color: #4cd7e8 !important;
}

.blue_bcg2{
	background: #2c80e8;
}

.red_bcg {
	background-color: #cb2d26 !important;
}

.gray_bcg {
	background-color: #dcdcdc !important;
}

.lighter_gray_bcg2{
	background: #ebebeb !important; 
}

.light_gray_bcg {
	background: #f9f9f9 !important;
}	

.white_bcg {
	background-color: #fff !important;
}

.black_bcg {
	background-color: #000 !important;
}

.orange_bcg {
	background-color: #fa7720 !important;
}

.dark_gray_bcg {
	background-color: #2c343c !important;
}

.brown_bcg {
	background-color: #797864 !important;
}

.green_bcg {
	background-color: #55c01f !important;
}
.noshadow{
    box-shadow: none !important;    
    -moz-box-shadow: none !important;    
    -webkit-box-shadow: none !important;    
    -o-box-shadow: none !important;    
}

/*******************IMAGES***************************/

img {
	border: none;
	border-color: rgba(0,0,0,0.5);
	z-index: 1;
}

.alignleft {
	float: left;
	margin: 0 30px 20px 0;
}

.alignright {
	float: right;
	margin: 0 0 20px 30px;
}

.aligncenter {
	display: inline-block;
	width: auto;
	margin: 0 auto;
}

	img.aligncenter {
		display: block;
	}

/*************** REQUIRED ELEMENTS ******************/


/* BLOCK FLOATS*/
.clear {
	clear: both;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}


/* TEXT ALIGNMENTS*/
.toright {
	text-align: right !important;
}

.toleft {
	text-align: left !important;
}

.tocenter {
	text-align: center !important;
}

/*STYLE CANCELING*/

.nopadding {
	padding: 0px !important;
}

.nopaddingtop {
	padding-top: 0px !important;
}

.nopaddingbottom {
	padding-bottom: 0px !important;
}

.nopaddingleft {
	padding-left: 0px !important;
}

.nopaddingright {
	padding-right: 0px !important;
}

.nomargintop {
	margin-top: 0px !important;
}

.nomarginleft {
	margin-left: 0px !important;
}

.nomarginright {
	margin-right: 0px !important;
}

.nomarginbottom {
	margin-bottom: 0px !important;
}


/*SPACERS*/
.space5 {
	height: 5px !important;
	display: block !important;
}

.space7 {
	height: 7px !important;
	display: block !important;
}

.space10 {
	height: 10px !important;
	display: block !important;
}

.space15 {
	height: 15px !important;
	display: block !important;
}

.space20 {
	height: 20px !important;
	display: block !important;
}

.space25 {
	height: 25px !important;
	display: block !important;
}

.space30 {
	height: 30px !important;
	display: block !important;
}

.space35 {
	height: 35px !important;
	display: block !important;
}

.space40 {
	height: 40px !important;
	display: block !important;
}

.space45 {
	height: 45px !important;
	display: block !important;
}

.space50 {
	height: 50px !important;
	display: block !important;
}

.space60 {
	height: 60px !important;
	display: block !important;
}


.space70 {
	height: 70px !important;
	display: block !important;
}

.space80 {
	height: 80px !important;
	display: block !important;
}

.space90 {
	height: 90px !important;
	display: block !important;
}

.space100 {
	height: 100px !important;
	display: block !important;
}

.width100 {
	width: 100px !important;
}

.width200 {
	width: 200px !important;
}	

.width205 {
	width: 205px !important;
}		
	
.width250 {
	width: 250px !important;
}	

.width280 {
	width: 280px !important;
}

.width300 {
	width: 300px !important;
}

.width350 {
	width: 350px !important;
}

.width400 {
	width: 400px !important;
}

.width2P {
    width: 2% !important;
}

.width4P {
    width: 4% !important;
}

.width5P {
    width: 5% !important;
}

.width6P {
    width: 6% !important;
}

.width8P {
    width: 8% !important;
}


.width10P {
    width: 10% !important;
}

.width12P {
    width: 12% !important;
}

.width14P {
    width: 14% !important;
}

.width15P {
	width: 15% !important;
}

.width16P {
    width: 16% !important;
}

.width18P {
    width: 18% !important;
}

.width20P {
    width: 20% !important;
}

.width22P {
	width: 22% !important;
}


.width25P {
	width: 25% !important;
}

.width30P {
	width: 30% !important;
}

.width35P {
	width: 35% !important;
}

.width40P {
	width: 40% !important;
}

.width45P {
	width: 45% !important;
}

.width50P {
	width: 50% !important;
}

.width55P {
	width: 55% !important;
}

.width60P {
	width: 60% !important;
}

.width65P {
	width: 65% !important;
}

.width70P {
	width: 70% !important;
}

.width75P {
	width: 75% !important;
}

.width80P {
	width: 80% !important;
}

.width85P {
	width: 85% !important;
}

.width90P {
	width: 90% !important;
}

.width95P {
	width: 95% !important;
}

.width98P {
	width: 98% !important;
}

.width100P {
	width: 100% !important;
}

/* DISPLAYS */

.radius3 {
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -o-border-radius: 3px;
}

.radius6 {
   border-radius: 6px;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   -o-border-radius: 6px;
}

.radius9 {
   border-radius: 9px;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   -o-border-radius: 9px;
}

.radius12 {
   border-radius: 12px;
   -moz-border-radius: 12px;
   -webkit-border-radius: 12px;
   -o-border-radius: 12px;
}

.radius15 {
   border-radius: 15px;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   -o-border-radius: 15px;
}

.radius18 {
   border-radius: 18px;
   -moz-border-radius: 18px;
   -webkit-border-radius: 18px;
   -o-border-radius: 18px;
}

.radius21 {
   border-radius: 21px;
   -moz-border-radius: 21px;
   -webkit-border-radius: 21px;
   -o-border-radius: 21px;
}

.radius24 {
   border-radius: 24px;
   -moz-border-radius: 24px;
   -webkit-border-radius: 24px;
   -o-border-radius: 24px;
}

.radius27 {
   border-radius: 27px;
   -moz-border-radius: 27px;
   -webkit-border-radius: 27px;
   -o-border-radius: 27px;
}

.radius30 {
   border-radius: 30px;
   -moz-border-radius: 30px;
   -webkit-border-radius: 30px;
   -o-border-radius: 30px;
}

.noradiustop {
	border-top-right-radius: 0 !important;
	-moz-border-top-right-radius: 0 !important;
	-webkit-border-top-right-radius: 0 !important;
	-o-border-top-right-radius: 0 !important;
	border-top-left-radius: 0 !important;
	-moz-border-top-left-radius: 0 !important;
	-webkit-border-top-left-radius: 0 !important;
	-o-border-top-right-left: 0 !important;
}

.noradiusbottom {
	border-bottom-right-radius: 0 !important;
	-moz-border-bottom-right-radius: 0 !important;
	-webkit-border-bottom-right-radius: 0 !important;
	-o-border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	-moz-border-bottom-left-radius: 0 !important;
	-webkit-border-bottom-left-radius: 0 !important;
	-o-border-bottom-right-left: 0 !important;
}


/*************** BORDERS ******************/
.borderW1 {
	border-width: 1px; 
}

.borderW2 {
	border-width: 2px; 
}

.borderW3 {
	border-width: 3px; 
}

.borderW4 {
	border-width: 4px; 
}

.borderW5 {
	border-width: 5px; 
}

.borderW6 {
	border-width: 6px; 
}

.borderW7 {
	border-width: 7px; 
}

.borderW8 {
	border-width: 8px; 
}

.borderW9 {
	border-width: 9px; 
}

.borderW10 {
	border-width: 10px; 
}

.borderSsol {
	border-style: solid;
}

.borderSdsh {
	border-style: dashed;
}

.borderSdot {
	border-style: dotted;
}


/*************** GRID ELEMENTS ******************/

.column {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	margin: 0 0 30px 0;
	width: 100%;
	display: block;
	padding: 10px;
}

.half {
	width: 50% !important;
}

.third {
	width: 33.33% !important;
}

	.two_thirds {
		width: 66.66% !important;
	}

.quorter {
	width: 25% !important;
}

	.three_quorters {
		width: 75% !important;
	}

    .fifth {
	    width: 20% !important;
    }

	.four_fifths {
		width: 80%;
	}
	.three_fifths {
		width: 60%;
	}
	.two_fifths {
		width: 40%;
	}
	
.sixth {
	width: 16.66% !important;
}

	.five_sixths {
		width: 83.3% !important;
	}
	
	.four_sixths {
		width: 66.64 !important;
	}
	
	.three_sixths {
		width: 49.98% !important;
	}
	
	.two_sixths {
		width: 33.32% !important;
	}

/*************** TABLE ELEMENTS ******************/

table {
	width: 100%;
	text-align: left;
	margin: 10px auto;    
    border-collapse: collapse;
}
thead th{
    padding: 0;
    margin: 0;
    background:#1f7ac7 url(../images/blue_dotted_bcg.png) !important;
    box-shadow: 0 1px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow: 0 1px 1px rgba(255,255,255,0.4) inset;
    -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.4) inset;
    -o-box-shadow: 0 1px 1px rgba(255,255,255,0.4) inset;    
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 10px;
    border: 1px solid #1d76c0;
/*    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;*/
}

td,
tbody th {
	padding: 7px 10px;
    line-height: 15px;
    font-size: 13px;
    font-weight: 600;
    color: #747474;
    background: #f7f6f6;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FCFCFC), to(#F2F2F2));
    background: -webkit-linear-gradient(top, #FCFCFC, #F2F2F2);
    background: -moz-linear-gradient(top, #FCFCFC, #F2F2F2);
    background: -ms-linear-gradient(top, #FCFCFC, #F2F2F2);
    background: -o-linear-gradient(top, #FCFCFC, #F2F2F2);
    border-top: solid 1px #b7b7b7;
    border-bottom: solid 1px #b7b7b7;
}
tbody{
    border-left: solid 1px #b7b7b7;
    border-right: solid 1px #b7b7b7;
}
tfoot td {

}

td {
	
}

tr {
	border-bottom: 1px dashed #313B44;
	
}

	tr:nth-child(odd) { 

	}
	
	tr:nth-child(even) {
		background: rgba(0, 0, 0, 0.1);
	 }
	
	tr:hover {
		/*background: rgba(0, 0, 0, 0.4);*/
	}
	
	
	
/***************EROR AND MESSAGES*****************/
#messages-wrapper{
    width: 1000px;
    margin: 0 auto;
    padding: 17px 0 0;
}
.message {    
	padding: 11px 20px 11px 45px;	
	border-style: solid;
    border-width: 1px;
    font-family: 'Open Sans', 'Arial'; 
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);    
    margin-top: 8px;
}
.error {
    background: #e52727 url(../images/error-icon.png) 8px 7px no-repeat;
    border-color: #b61313;
}
.warning {
    background: #e67070 url(../images/warning-icon.png) 8px 7px no-repeat;
    border-color: #d96666;
}
.success {
    background: #3db118 url(../images/success-icon.png) 8px 7px no-repeat;
    border-color: #37a215;
}
.notice {
	background: #f7941d url(../images/notice-icon.png) 8px 7px no-repeat;
    border-color: #e38413;
}
.message  a{
    text-decoration: underline;
    font-weight: 600;
    color: #fff !important;
}
.inner-warning{
    background: #FFEEA8;
    padding: 10px;
    margin: 0 0 20px;
    border: 1px solid #F7DC6F;
    color: #A88700;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
}


/*************** BONUS ELEMENTS ******************/
	
/*BOXES*/
.boxed {
	background: rgba(0, 0, 0, 0.2);
	position: relative;
	border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	-webkit-border-radius: 10px !important;
	box-shadow: 0 0 1px #8B9497, 0 0 20px #151518 inset !important;
	-moz-box-shadow: 0 0 1px #8B9497, 0 0 20px #151518 inset !important;
	-webkit-box-shadow: 0 0 1px #8B9497, 0 0 20px #151518 inset !important;
	display: block;
	position: relative;
	padding: 20px;
}

/*POP-UPS */
.mask-wrapper{
	position: absolute;
	background: url(../images/fancybox_overlay.png) top left repeat;
	background-size: cover;
	background-attachment: fixed;
	z-index: 999;	
	display: none;
	left: 0px; 
	top: 0px;    
}
.loading{
    background: url(../images/loader.gif) no-repeat center center;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;    
}

.loading b{
    display: block;
    font-size: 18px;
    color: #e33f3f;
}
.loading span{
    display: block;
    font-size: 12px;
    color: #e33f3f;
}
.loading1{
    background: url(../images/loader1.gif) no-repeat center center;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;    
    position: absolute;
    left: 0;
    top: 0;
}


.block{
	display:block !important;
}

/*************** Tab Boxes ********/
.grid-box{
    position: relative;
/*    overflow: hidden;*/
}

.loading-with-text,
.grid-box .loading{
    background: #a8c2d7;
    background: rgba(168, 194, 215, 0.6);
    position: absolute;
    left: 0;
    top: 0;
}
.grid-box .loading b{
    
}

.loading-with-text div,
.grid-box .loading div{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -70px;
    padding-top: 50px;
    background: url(../images/loader.gif) no-repeat center 5px;
    height: 50px;
    width: 100%;
}

.grid-box-header{
    padding: 0;
    margin: 0;
    background:#1f7ac7 url(../images/blue_dotted_bcg.png) !important;
    box-shadow: 0 1px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow: 0 1px 1px rgba(255,255,255,0.4) inset;
    -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.4) inset;
    -o-box-shadow: 0 1px 1px rgba(255,255,255,0.4) inset;
    border: 1px solid #1d76c0;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
}
.grid-box-header h5{
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -o-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    margin: 0;
    line-height: 16px;
    padding: 6px 10px;
}
.grid-box-header h5 a{
    color: #fff;
}
.grid-box-header .header-text{
    color: #fff;
    font-size: 12px;
    padding: 6px 10px;
    line-height: 16px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -o-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.grid-box .gbh-btn{
    border-left: solid 1px #145489;
    background-color: #1c6eb2 !important;
    background-color: rgba(0,0,0,0.1) !important;
    width: 30px;
    padding: 6px 0;
    line-height: 16px;
    display: block;
    text-indent: -9999px;
    position: relative;    
}
.grid-box .gbh-btn-edit{
    background: url(../images/btn-sprites.png) no-repeat 7px -208px;
}
.grid-box .gbh-btn-view-stats{
    background: url(../images/btn-sprites.png) no-repeat 7px -248px;
}
.grid-box .gbh-btn-add{
    background: url(../images/btn-sprites.png) no-repeat 9px -448px;
}
.grid-box .gbh-btn-delete{
    background: url(../images/btn-sprites.png) no-repeat 8px -798px;
}
.grid-box-header .gbh-btn-expandable{    
    border-right: solid 1px #145489;
    border-left: none;
}
.grid-box-closed .grid-box-header .gbh-btn-expandable{
    background: url(../images/btn-sprites.png) no-repeat 11px -330px;
}
.grid-box-opened .grid-box-header .gbh-btn-expandable{
    background: url(../images/btn-sprites.png) no-repeat 10px -291px;    
}

.gbh-btn:hover .simple_tooltip{
    display: block;
    left: 8px;
    text-indent: 0;
}
.grid-box-body{
    border: solid 1px #b7b7b7;
    background: #FbFBFB;
    position: relative;
}
.grid-box-body .grid-row{
    padding: 7px 10px;
    line-height: 15px;
    font-size: 13px;
    font-weight: 600;
    color: #747474;
    background: #f7f6f6;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FCFCFC), to(#F2F2F2));
    background: -webkit-linear-gradient(top, #FCFCFC, #F2F2F2);
    background: -moz-linear-gradient(top, #FCFCFC, #F2F2F2);
    background: -ms-linear-gradient(top, #FCFCFC, #F2F2F2);
    background: -o-linear-gradient(top, #FCFCFC, #F2F2F2);
    border-top: solid 1px #b7b7b7;
}
.grid-box-body .grid-row:first-child{
    border: none;
}
.grid-box-body .grid-row label{
    color: #6e747c;
}
.grid-box-body .grid-cell{
    float: left;
    
}
.grid-box-body .grid-action-row{
    padding: 0 0 0 10px;
}
.grid-box-body .grid-action-row .grid-cell{
    padding-top: 7px;
    padding-bottom: 6px;
}
.grid-box-body .grid-action-row .grid-action-cell{
    padding: 0;
    float: right;
}
.grid-box-body .grid-action-cell .gbh-btn{
    border-left-color: #aaaaaa;
    float: right;
}
.grid-box-body .gbh-btn-edit-grey{
    background: #d1d1d1 url(../images/btn-sprites.png) no-repeat 8px -488px !important;    
    float: right;
}

.grid-box-body .gbh-btn-delete-grey{
    background: #d1d1d1 url(../images/btn-sprites.png) no-repeat 8px -848px !important;    
    float: right;
}
/*** Grid Field Row***/
.grid-box-body .field-row{
    padding-bottom: 12px;
}
.grid-box-body .field-row label{
    display: block;
    font-weight: 600;
    line-height: 18px;
}
.grid-box-body .field-row label.light-desc{
    font-weight: normal;
    line-height: 18px;
}

.grid-box-body .field-row .input{
    width: 100%;
}
.grid-box-body .field-row .textarea{
    width: 100%;
    resize: vertical;
}
.grid-box-body .field-row .radio-holder{
    display: block;
    margin:5px 0;
}
.grid-box-body .field-row .radio-holder label{
    display: inline;
    margin-right: 10px;
}
.grid-box-footer{
    margin-top: -1px;
    background: #f0f0f0;
    box-shadow: 0 12px 10px -10px #cbcbcb inset;
    box-shadow: 0 12px 10px -10px rgba(0, 0, 0, 0.2) inset;
}
.grid-box-footer .btn-row{
    padding: 15px;
}
.grid-box-footer .btn-row .action-btn{
    float: right;
}
/*** Table ***/
.table-box .grid-box-body{
    border: none;    
    border-collapse: collapse;
}
.table-box .tr{    
    background:#eeeeee url(../images/tr-bg-odd.png) repeat;    
    border-top: solid 1px #F5F5F5;
    border-bottom: solid 1px #cccccc;
}
.table-box .td{
    padding: 8px 10px;
    font-size: 11px;
    color: #3c3f43;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
    float: left;
    border-left: solid 1px #ccc;
    font-weight: 600;
}

.table-box .tr .td:first-child{    
    border-left: none !important;
}
.table-box .tr:nth-child(odd){
    background:#d9d9d9 url(../images/tr-bg-even.png) repeat;
}
.table-box .thead{        
    background:#de6262 url(../images/red_dotted_bcg.png) !important;
    border-left: solid 1px #e33f3f;
    border-right: solid 1px #e33f3f;
    border-top: solid 1px #b56a79;
    border-bottom: solid 1px #e33f3f;
    
}
.table-box .thead .td{
    color: #ececec;
    font-size: 13px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
    border-left: solid 1px #e33f3f;
    box-shadow: 0 1px 2px 0px rgba(255,255,255,0.4) inset;
    -moz-box-shadow: 0 1px 2px 0px rgba(255,255,255,0.4) inset;
    -webkit-box-shadow: 0 1px 2px 0px rgba(255,255,255,0.4) inset;
    -o-box-shadow: 0 1px 2px 0px rgba(255,255,255,0.4) inset;
}
.table-box .tbody{
    border-left: solid 1px #1767ab;
    border-right: solid 1px #1767ab;
    border-bottom: solid 1px #1767ab;
}
.grid-box .td a{
    text-decoration: underline;
}

.grid-box-closed .grid-box-body{
/*    display: none;*/
}
.grid-box-closed .grid-box-header{
    border-bottom: solid 1px #1a6aac;
}

/*** Simple List ****/
.grid-list{
    position: relative;
}
.grid-list-header{
    font-size: 13px;    
    font-weight: 600;
}
.grid-list-cell{
    padding: 10px 0;
    float: left;
}
.grid-list-header .grid-list-cell{
    padding: 12px 0;
}
.grid-list-header .grid-list-cell-line2{
    padding: 5px 0;
}
.grid-list-row{
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: solid 1px #d8d8d8;
}
.grid-list-row:hover{
    background: #FEFEFE;
}
.grid-list-footer,
.grid-list-footer:hover{
    background: #f8f8f8;
}
/*** Status Color ***/
.status-active{
    color: #47a518 !important;
}
.status-suspended{
    color: #d9231f !important;
}
.status-certified{
    color: #4aa31e !important;
}
.status-testing{
    color: #e33f3f !important;
}
.status-unverified{
    color: #666 !important;
}


/*** Create Common Button Styles ***/
.action-btn{
    border-style: solid;
    border-width: 1px;
    color: #fff !important;
    font-family: 'Open Sans', Arial;
    font-size: 11px;    
    display: block;
    height: 22px;
    line-height: 22px;
    padding: 0 7px 0 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-decoration: none !important;
    float: left;
}
.action-btn span.p{
    display: block;
    float: left;
    background-image: url(../images/btn-sprites.png);
    background-repeat: no-repeat;
    width: 20px;    
    height: 100%;
    margin: 0;
}
.action-btn span.t{    
    float: left;
    padding:0 0 0 5px;
    margin: 0;
    text-shadow: 0 -1px 0 #777778; /**For Old Browser **/
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.35);
}
.upload-btn,
.process-btn,
.continue-btn,
.add-new-btn,
.certify-btn,
.edit-btn{
    border-color: #369817;
    background: #39a517;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3eb618), to(#369817));
    background: -webkit-linear-gradient(top, #3eb618, #369817);
    background: -moz-linear-gradient(top, #3eb618, #369817);
    background: -ms-linear-gradient(top, #3eb618, #369817);
    background: -o-linear-gradient(top, #3eb618, #369817);
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#268fe8', endColorstr='#369817',GradientType=0 );     */
    box-shadow: 0 1px 0 0 #95d780 inset;
    -moz-box-shadow: 0 1px 0 0 #95d780 inset;
    -webkit-box-shadow: 0 1px 0 0 #95d780 inset;
}
.certify-btn span.p,
.process-btn span.p{
    background-position: 0 -43px;
}
.process-btn:hover,
.upload-btn:hover,
.edit-btn:hover,
.certify-btn:hover,
.continue-btn:hover,
.add-new-btn:hover{
    background: #3eb518;
}
.edit-btn span.p{
    background-position: 0 -90px;
}
.edit-btn span.t{
    padding-left: 3px;
}
.upload-btn span.p{
    background-position: 0 -527px;
}
.add-new-btn span.p{
    background-position: 0 -128px;
}
.continue-btn span.p{
    background-position: 2px -748px;
}

.cancel-btn,
.delete-grey-btn{
    border-color: #9f9f9f;
    background: #b1b1b1;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c2c2c2), to(#9f9f9f));
    background: -webkit-linear-gradient(top, #c2c2c2, #9f9f9f);
    background: -moz-linear-gradient(top, #c2c2c2, #9f9f9f);
    background: -ms-linear-gradient(top, #c2c2c2, #9f9f9f);
    background: -o-linear-gradient(top, #c2c2c2, #9f9f9f);
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c2c2', endColorstr='#9f9f9f',GradientType=0 );     */
    box-shadow: 0 1px 0 0 #dfdfdf inset;
    -moz-box-shadow: 0 1px 0 0 #dfdfdf inset;
    -webkit-box-shadow: 0 1px 0 0 #dfdfdf inset;
}
.cancel-btn span.p{
    background-position: 0 1px;
}
.delete-grey-btn span.p{
    background-position: 0 1px;
}
.delete-grey-btn:hover,
.cancel-btn:hover{
    background: #c1c1c2;
}
.delete-grey-btn{
    padding: 0 12px !important;
}
.certify-grey-btn,        
.view-log-btn{        
    border-color: #a9a9a9;
    background: #caced2;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d3d9e1), to(#c1c2c2));
    background: -webkit-linear-gradient(top, #d3d9e1, #c1c2c2);
    background: -moz-linear-gradient(top, #d3d9e1, #c1c2c2);
    background: -ms-linear-gradient(top, #d3d9e1, #c1c2c2);
    background: -o-linear-gradient(top, #d3d9e1, #c1c2c2);
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d9e1', endColorstr='#c1c2c2',GradientType=0 );     */
    box-shadow: 0 1px 0 0 #e7ebef inset;
    -moz-box-shadow: 0 1px 0 0 #e7ebef inset;
    -webkit-box-shadow: 0 1px 0 0 #e7ebef inset;    
}
.certify-grey-btn span.t,
.view-log-btn span.t{
    color: #5f6670;
    text-shadow: 0 -1px 1px #ebedef;
}
.view-log-btn span.p{
    background-position: 0 -369px;
}
.certify-grey-btn span.p{
    background-position: 0 -409px;
}

.certify-grey-btn:hover,
.view-log-btn:hover{ 
    background: #c3c3c5;
}
.delete-btn{
    border-color: #7B1413;
    background: #b3241e;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cc2e27), to(#981716));
    background: -webkit-linear-gradient(top, #cc2e27, #981716);
    background: -moz-linear-gradient(top, #cc2e27, #981716);
    background: -ms-linear-gradient(top, #cc2e27, #981716);
    background: -o-linear-gradient(top, #cc2e27, #981716);
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c2c2', endColorstr='#9f9f9f',GradientType=0 );     */
    box-shadow: 0 1px 0 0 #dfdfdf inset;
    -moz-box-shadow: 0 1px 0 0 #dfdfdf inset;
    -webkit-box-shadow: 0 1px 0 0 #dfdfdf inset;
    
}
.delete-btn:hover{
    background: #cc2e26;
}
.delete-btn span.p{
    background-position: 2px -574px;
    width: 12px;
}

.blue-edit-btn,
.print-btn,
.blue-delete-btn{
    border-color: #3577ad;
    background: #2d83cd;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2690ea), to(#3577ad));
    background: -webkit-linear-gradient(top, #2690ea, #3577ad);
    background: -moz-linear-gradient(top, #2690ea, #3577ad);
    background: -ms-linear-gradient(top, #2690ea, #3577ad);
    background: -o-linear-gradient(top, #2690ea, #3577ad);
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c2c2', endColorstr='#9f9f9f',GradientType=0 );     */
    box-shadow: 0 1px 0 0 #7cbcf4 inset;
    -moz-box-shadow: 0 1px 0 0 #7cbcf4 inset;
    -webkit-box-shadow: 0 1px 0 0 #7cbcf4 inset;
}
.blue-edit-btn:hover,
.print-btn:hover,
.blue-delete-btn:hover{
    background: #288ce2;
}
.blue-edit-btn span.p{
    background-position: 0 -614px;
}
.blue-delete-btn span.p{
    background-position: 2px -574px;
}

.icon-btn span.p{
    width: 12px;
}
.icon-btn{
    padding: 0 5px;
}
.small-action-btn{
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    font-weight: bold;
}
.print-btn span.p{
    background-position: 0 -899px;
    width: 14px;
}
.large-plus-link{
    color: #2c80e8;
    font-size: 18px;
    font-weight: 600;
    display: block;
    background: url(../images/plus-icon.png) no-repeat left center;
    padding-left: 40px;
    height: 30px;
    line-height: 30px;
}
.small-plus-link{
    background: url(../images/plus-icon15.png) no-repeat left center;
    font-size: 12px;
    padding-left: 22px;
    height: 16px;
    line-height: 16px;
}

/*** Common Popup Boxes Style ***/
.popup-box{
    margin: 0 auto;
    padding: 0;    
    position: relative;
}
.popup-box-header{
    margin: 0;
    font-size: 18px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px #0B2133; /**For Old Browser **/
    text-shadow: 0 -1px 1px rgba(0,0,0, 0.75);
    border-color: #e96208;    
    background: #2f80c5;    
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#268fe8), to(#3576ad));
    background: -webkit-linear-gradient(top, #268fe8, #3576ad);
    background: -moz-linear-gradient(top, #268fe8, #3576ad);
    background: -ms-linear-gradient(top, #268fe8, #3576ad);
    background: -o-linear-gradient(top, #268fe8, #3576ad);
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#268fe8', endColorstr='#3576ad',GradientType=0 );     */
    height: 45px;
    line-height: 45px;
    
    padding: 0 20px;
}
.popup-box-content{
    padding: 20px;    
    background: #fff;
    box-shadow: 0 3px 5px -1px #D3d3d3 inset;
    -webkit-box-shadow: 0 3px 5px -1px #D3d3d3 inset;
    -moz-box-shadow: 0 3px 5px -1px #D3d3d3 inset;
    -o-box-shadow: 0 3px 5px -1px #D3d3d3 inset;
}
.popup-box-footer{
    background: #f0f0f0 !important;
    padding: 15px;
    box-shadow: 0 13px 7px -10px #CBCBCB inset;
    -webkit-box-shadow: 0 13px 7px -10px #CBCBCB inset;
    -moz-box-shadow: 0 13px 7px -10px #CBCBCB inset;
    -o-box-shadow: 0 13px 7px -10px #CBCBCB inset;
}
.popup-close-btn{
    background: url(../images/close.png) center left no-repeat;
    width: 22px;
    height:22px;
    position: absolute;
    top: 11px;
    right: 16px;
    cursor: pointer;    
}
.popup-box .action-btn{
    float: right;
    margin-left: 13px;
}
/*** Calendar Style ***/
.ui-datepicker{
    font-family: 'Open Sans',Arial,Tahoma,Helevetica,sans-serif;
    border:solid 1px #cbcbcb;
    background: #fff;
    border-radius: 3px !important;    
    -moz-border-radius: 3px !important;    
    -webkit-border-radius: 3px !important;    
    padding: 3px;
    width: 214px;
}
.ui-datepicker .ui-datepicker-header{
    background: #2c80e8;
    border: solid 1px #1b66c3;
    border-radius: 3px !important;    
    -moz-border-radius: 3px !important;    
    -webkit-border-radius: 3px !important;    
    padding: 3px 0;
    color: #fff;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 3px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
    height: 16px;
    width: 11px;
    background: url(../images/prev-next-icon.png) no-repeat 0 0;
    top: 6px;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev{
    left: 5px;
}
.ui-datepicker .ui-datepicker-next{
    background-position: 0 -63px;
    right: 5px;
}
.ui-datepicker .ui-state-hover{
    border: none;
    
}
.ui-datepicker-calendar thead{
    border:solid 1px #cbcbcb;
    border-radius: 3px !important;    
    -moz-border-radius: 3px !important;    
    -webkit-border-radius: 3px !important;
}
.ui-datepicker-calendar th{
    background: #f2f2f2;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#e5e5e5));
    background: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
    background: -moz-linear-gradient(top, #ffffff, #e5e5e5);
    background: -ms-linear-gradient(top, #ffffff, #e5e5e5);
    background: -o-linear-gradient(top, #ffffff, #e5e5e5);
    font-size: 11px;
    color: #2a2a2a;
    font-family: 'Open Sans',Arial,Tahoma,Helevetica,sans-serif;
}
.ui-datepicker-calendar th.ui-datepicker-week-end{
    color: #d10707;
}
.ui-datepicker tr{
    border: none;
}
.ui-datepicker tr:nth-child(even){
    background: transparent;
}
.ui-datepicker .ui-state-default{
    background: #70abf4;
    border: solid 1px #2c80e8;
    text-align: center;
    color: #2a2a2a;
    height: 18px;
    line-height: 18px;
    
}
.ui-datepicker td{
    background: transparent;
}
.pagination-wrapper{
    padding: 0;
    text-align: center;
}
.pagination{
    margin: 0 auto;
    display: inline-block;
    background: #f2f2f2;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#e5e5e5));
    background: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
    background: -moz-linear-gradient(top, #ffffff, #e5e5e5);
    background: -ms-linear-gradient(top, #ffffff, #e5e5e5);
    background: -o-linear-gradient(top, #ffffff, #e5e5e5);
    border: solid 1px #d8d8d8;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    
}
.pagination .page-numbers{
    width: 26px;
    display: inline-block;
    height: 23px;
    line-height: 23px;
    border-right: solid 1px #dcdcdc;
    font-size: 13px;
    font-weight: 600;
    float: left;
}
.pagination .page-numbers:hover{
    background-color: #e9e9e9;
}
.pagination .current{
    color: #18529b !important;
    background: #fff !important;
    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.4) inset;
}

.pagination .prev{
    background: url(../images/btn-sprites.png) no-repeat 8px -647px;
    text-indent: -9999px;
}
.pagination .next{
    background: url(../images/btn-sprites.png) no-repeat 8px -695px;
    text-indent: -9999px;
    border-right: none;
}

/*** Simple Tooltip ***/
.has-focus-tooltip{
    position: relative;
}
.focus-tooltip{
    color: #2a2a2a;
    font-size: 12px;
    padding: 10px;
    line-height: 1.2em;
    position: absolute;
    left: 103%;
    top: 50%;
    display: block;
    background: #f4f4f4;
    border: solid 1px #ebebeb;
    z-index: 10;
    width: 170px;    
    display: none;
}
.focus-tooltip span{
    display: block;
    width: 9px;
    height: 8px;
    background: url(../images/tooltip_arrow.png) no-repeat;
    position: absolute;
    left: -8px;
    top: -1px;
    z-index: 20;
}

/** For Static Content Pages ***/
.content_inner{
    line-height: 1.3em;
}

.content_inner ol{
    padding: 0 8px;
    margin: 8px 20px;
}
.content_inner li{
    margin-bottom: 8px;
}
.content_inner ul{
    padding: 0 8px;
    margin: 8px 0;
}
.content_inner ul li{
    padding: 0 10px;
    background: url(../images/footer_li.png) left 5px no-repeat
}

.content_inner h2{
    margin: 8px 0;
}
.content_inner h3{
    margin: 10px 0 8px 0;
}
.content_inner table {
    border: 1px solid #CCC; 
    font-size: 12px;
}
.content_inner table td{
    padding: 4px;
    margin: 3px;
    border: 1px solid #ccc;
    vertical-align: top;
    font-weight: normal;
    background: #fefefe;
    color: #2a2a2a;
    font-size: 12px;
}
.content_inner table th{
    border: solid 1px #1b66c3;
    padding: 7px 5px;
    font-weight: bold;
    vertical-align: top;
    background: #2c80e8;
    color: #fff;
}
.content_inner table tr:nth-child(odd) td{
    background: #f9f9f9;
}
.content_inner .page-title-block{
    border-top: solid 1px #E1E1E1;
}
.content_inner .page-title-block h2{
    margin: 0;
}

.validation-form .field-row .grid-cell{
    position: relative;
}
.validation-form .field-row .grid-cell .msg-required{
    position: absolute;
    color: #dd0000;
    font-style: italic;
}