
html, body {
    height: 100%;
    width: 100%;
    min-height: 100%;
}

body { 
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',Arial,Tahoma,Helevetica,sans-serif;
    font-size: 12px;
    line-height: 14px; 
    color: #666666;
    background: url(../images/pattern.png) top center repeat;
    min-height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', Arial, sans-serif;    
    text-shadow: none;
    font-weight: normal;
    margin-top: 0;
}

h1 {

}

h2 {
    font-size: 20px;
    font-weight: 600;
}

h3 {
    font-weight: 600;
    font-size: 15px;
}

h4 {
    font-weight: 600;
    font-size: 14px;
}

h5 {
    font-size: 13px;
    font-weight: 600;
}
.content{
    width: 1000px;
    margin: 0 auto;
}
img{
    border: none;
}
#header-wrapper{
    padding: 15px 0 5px;
    width: 100%;
    min-width: 1000px;
    margin-bottom: 0px;
    background: url(../images/header_wrapper.jpg) top center repeat-x;
    height: 60px;
    text-align: center;
}
#header-wrapper .content{
    text-align: left;
}
#menu-wrapper {
    width: 100%;
    min-width: 1000px;
    margin-bottom: 0px;
    background: url(../images/menu_wrapper.jpg) top center repeat-x;
    height: 39px;
    border-top: 1px solid white; 
    border-bottom: 1px solid white; 
    
}
#content-wrapper{
    width: 100%;
    min-width: 1000px;
    background: url(../images/content.jpg) top center repeat-x;
    padding: 25px 0;
}
#content-inner{
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 5px #999;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    -o-box-shadow: 0 0 5px #999;
    border: solid 1px #ccc;
}
/*
Table
*/
.grid-box{
    position: relative;
    margin-bottom: 20px;
}
.grid-box-header{
    padding: 0;
    margin: 0;
    background:#1f7ac7 url(../images/blue_dotted_bcg.png) !important;
    box-shadow: 0 1px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow: 0 1px 1px rgba(255,255,255,0.4) inset;
    -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.4) inset;
    -o-box-shadow: 0 1px 1px rgba(255,255,255,0.4) inset;
    border: 1px solid #1d76c0;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
}
.grid-box-header h3,
.grid-box-header h4,
.grid-box-header h5{
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -o-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    margin: 0;
    line-height: 16px;
    padding: 6px 10px;
}
.grid-box-header h4{
    font-size: 13px;
}
.grid-box-header h4 span{
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.grid-box-header h4 span b{
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    font-weight: 600;
}
.grid-box-header h5{
    font-size: 12px;
}

.grid-box-header h3 a{
    color: #fff;
}
.grid-box-header .header-text{
    color: #fff;
    font-size: 12px;
    padding: 6px 10px;
    line-height: 16px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -o-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.grid-box-body{    
    background: #FbFBFB;
    position: relative;
}
table.format-table{
    border: solid 1px #b7b7b7;
    background: #FbFBFB;
    border-collapse: collapse;
    width: 100%;
/*    table-layout: fixed;*/
}
.format-table thead tr{
    background:#de6262 url(../images/red_dotted_bcg.png) !important;
    border-left: solid 1px #e33f3f;
    border-right: solid 1px #e33f3f;
    border-top: solid 1px #b56a79;
    border-bottom: solid 1px #e33f3f;
}
.format-table thead th{
    color: #ececec;
    font-size: 13px;
    padding: 6px 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
    border-left: solid 1px #e33f3f;
    font-weight: 600;
    text-align: left;
    box-shadow: 0 1px 2px 0px rgba(255,255,255,0.4) inset;
    -moz-box-shadow: 0 1px 2px 0px rgba(255,255,255,0.4) inset;
    -webkit-box-shadow: 0 1px 2px 0px rgba(255,255,255,0.4) inset;
    -o-box-shadow: 0 1px 2px 0px rgba(255,255,255,0.4) inset;
}
.format-table thead th b{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
    font-weight: 700;
}
.format-table tbody tr{
    background:#eeeeee url(../images/tr-bg-odd.png) repeat;    
    border-top: solid 1px #F5F5F5;
    border-bottom: solid 1px #cccccc;
}
.format-table tbody tr:nth-child(odd){
    background:#d9d9d9 url(../images/tr-bg-even.png) repeat;
}

.format-table tbody td{
    padding: 8px 10px;
    font-size: 12px;
    color: #3c3f43;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
    border-left: solid 1px #ccc;
    font-weight: 600;
    word-wrap: break-word;
}

.format-table1{
    border-collapse: collapse;
}
.format-table1 th{
    border: solid 1px #666 !important;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 10px;
    color: #333 !important;
}
.format-table1 td{
    border: solid 1px #666 !important;   
    padding: 3px 10px !important;
    word-wrap: break-word;
    vertical-align: top;    
}

/*.grid-box h4,
.grid-box h5{
    background: #eee;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-top: solid 1px #ccc;    
    padding: 8px 10px;
    color: #333;
    margin: 0;
    text-align: center;
}*/
.arelle-entry-box .entry-level{
    float: right;    
}

.break-all{
    word-break:break-all;
}
