.btn {
  position: relative;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.btn-default {
  font-family: $font-family-sans-serif;
  border-color: #3577ad;
  background: #2d83cd;
  @include background-image(linear-gradient(top, #2690ea, #3577ad));
  @include box-shadow(0 1px 0 0 #7cbcf4 inset);
  color: #fff;
  text-shadow: 0 -1px 0 #777778;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);

  &:hover, &:active, &:focus {
    background: #288ce2;
    color: #fff;
    border-color: #3577ad;
  }
}

.btn-danger {
  border-color: #c33a3a;
  background: #f47273;
  @include background-image(linear-gradient(top, #db5353, #c33a3a));
  @include box-shadow(0 1px 0 0 #e68080 inset);

  &:hover, &:active, &:focus {
    background: #d84f4f;
    border-color: #c33a3a;
  }

}

.btn-logout {
  padding-left: 22px;
  padding-right: 5px;

  &:before {
    position: absolute;
    @include iconsSprite(logout);
    content: '';
    left: 5px;
    top: 7px;
  }
}

.btn-dropdown {
  padding-left: 22px;
  padding-right: 5px;

  &:before {
    position: absolute;
    @include iconsSprite(arrow-bottom);
    content: '';
    left: 5px;
    top: 11px;
  }
}

.btn-icon {
  width: 24px;
  height: 24px;
  padding: 0;
  text-indent: -999999px;

  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  &.btn-delete{
    @include btnIconsSprite(btn-icon-delete);
  }
  &.btn-edit{
    @include btnIconsSprite(btn-icon-edit);
  }

}

.btn-lg{
  font-size: 16px;
  font-weight: 700;
  padding: 11px 18px;
  line-height: 1;

  &.btn-danger{
    color: #fff;
    background-color: #aa221e;
    @include background-image(linear-gradient(top, #cc2e27, #981716));
    @include box-shadow(0 1px 1px rgba(255, 255, 255, 0.5) inset);
    border: 1px solid rgba(0, 0, 0, 0.2);

    &:hover{
      @include background-image(linear-gradient(top, #981716, #cc2e27));
    }
  }
}