.dashboard-menu{
    position: relative;

    ul{
        list-style: none;
        margin: 0;

        li{
            @include inline-block;

            a{
                @include border-radius(6px 6px 0 0);
                @include background-image(linear-gradient(to bottom,  #ffffff 2%,#eaeaea 100%));
                @include box-shadow(0 0 20px -10px #fff inset);
                display: block;
                padding: 5px 6px 5px 29px;
                margin: 4px 2px 0 0;
                line-height: 32px;
                border: 1px solid #e1e1e1;
                font-family: "Oswald",Arial,Helvetica sans-serif;
                font-size: 14px;
                color: $text-color;
                position: relative;

                &:hover, &:focus{
                    text-decoration: none;
                    background: #fff;
                }

                &.active{
                    @include box-shadow(0 0 30px -7px #002747 inset);
                    @include text-shadow(0 1px 0 #002747);
                    background: #2d85cf;
                    color: #fff;
                    border: 1px solid #3577ad;
                    margin-top: 0;
                    padding-top: 7px;
                    padding-bottom: 7px;
                }

                &:before{
                    display: block;
                    content: '';
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: 13px;
                    left: 8px;
                }

            }

            &.organisation-tab a:before{
                @include dashboardIconsSprite(organisation);
            }
            &.organisation-tab a.active:before{
                @include dashboardIconsSprite(organisation-active);
            }

            &.communities-tab a:before{
                @include dashboardIconsSprite(communities);
            }
            &.communities-tab a.active:before{
                @include dashboardIconsSprite(communities-active);
            }

            &.test-suites-tab a:before{
                @include dashboardIconsSprite(test-suites);
            }
            &.test-suites-tab a.active:before{
                @include dashboardIconsSprite(test-suites-active);
            }

            &.test-data-tab a:before{
                @include dashboardIconsSprite(test-data);
            }
            &.test-data-tab a.active:before{
                @include dashboardIconsSprite(test-data-active);
            }

            &.products-tab a:before{
                @include dashboardIconsSprite(products);
            }
            &.products-tab a.active:before{
                @include dashboardIconsSprite(products-active);
            }

            &.coverage-tab a:before{
                @include dashboardIconsSprite(coverage);
            }
            &.coverage-tab a.active:before{
                @include dashboardIconsSprite(coverage-active);
            }

            &.transactions-tab a:before{
                @include dashboardIconsSprite(transactions);
            }
            &.transactions-tab a.active:before{
                @include dashboardIconsSprite(transactions-active);
            }

            &.support-tab a:before{
                @include dashboardIconsSprite(support);
            }
            &.support-tab a.active:before{
                @include dashboardIconsSprite(support-active);
            }

            &.profile-tab a:before{
                @include dashboardIconsSprite(profile);
            }
            &.profile-tab a.active:before{
                @include dashboardIconsSprite(profile-active);
            }

            &.agreements-tab a:before{
                @include dashboardIconsSprite(agreements);
            }
            &.agreements-tab a.active:before{
                @include dashboardIconsSprite(agreements-active);
            }

        }
    }

}