label{
  font-weight: 600;
}

.form-control{
  &:focus{
    @include box-shadow(0 0 10px -2px rgba(52, 119, 175, 0.75));
    border-color: $input-border;
  }
}
select.form-control{
  padding-top: 3px;
}

.message-error,
.message-success{
  position: relative;
  line-height: 16px;
  padding: 4px 5px 4px 20px;
  margin: 10px 0;
  @include box-shadow(0 0 10px 1px rgba(0, 0, 0, 0.5));
  color: #fff;

  &:before{
    content: '';
    position: absolute;
  }

}

.message-error{
  background: #e52727;
  border: 1px solid #b61313;

  &:before{
    @include iconsSprite(error-icon-small);
    left: 3px;
    top: 5px;
  }
}

.message-success{
  background: #3db118;
  border: 1px solid #37a215;

  &:before{
    @include iconsSprite(success-icon-small);
    left: 3px;
    top: 5px;
  }
}